{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
{% block head %}
    <head>

        <meta charset="utf-8">


        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Portal Docente</title>
        <!-- Custom fonts for this template-->
        <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
              rel="stylesheet">
        <!-- Custom styles for this template-->
        <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">

    </head>
{% endblock %}
{% block sidebar %}
    <body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'appdocente:base' %}">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Portal Docente</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'appdocente:base' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Inicio</span></a>
        </li>


        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
    <!-- End of Sidebar -->
{% endblock %}
<!-- Content Wrapper -->

<div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
        {% block Topbar %}
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Search for..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>


                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% block usuario %}
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ usuario_logueado }}</span>

                            {% endblock %}
                            <img class="img-profile rounded-circle"
                                 src="http://pngimages.net/sites/default/files/user-png-image-79267.png">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="{% url 'appdocente:perfil' usuario_logueado.id %}">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Perfil
                            </a>


                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}" data-toggle="modal"
                               data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Cerrar Sesión
                            </a>
                        </div>
                    </li>


                </ul>

            </nav>

            <!-- End of Topbar -->
        {% endblock %}
        <div class="container-fluid">
            {% block contenido %}

                <a class="btn btn-success" href="{% url 'appdocente:fichaEstudianteCrear' %}">Crear nueva Ficha</a>

                <hr>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Fichas de Estudiantes</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <td><b>Código</b></td>
                                    <td><b>Nombres</b></td>
                                    <td><b>Apellidos</b></td>
                                    <td><b>Cédula</b></td>
                                    <td><b>Institución</b></td>
                                    <td><b>Comentarios</b></td>
                                    <td><b>Acciones</b></td>
                                </tr>
                                </thead>
                                <tbody>
                                {% if fichas_estudiantes %}
                                    {% for ficha_estudiante in fichas_estudiantes %}
                                        <tr>
                                            <td>{{ ficha_estudiante.id }}</td>
                                            <td>{{ ficha_estudiante.nombres }}</td>
                                            <td>{{ ficha_estudiante.apellidos }}</td>
                                            <td>{{ ficha_estudiante.cedula }}</td>
                                            <td>{{ ficha_estudiante.institucion }}</td>
                                            <td></td>
                                            <td>
                                                <a class="btn btn-primary" href="#">Ver</a>
                                                {#                                                <a class="btn btn-danger" href="#">Eliminar</a>#}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <h4>No se han agregado fichas</h4>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- End of Main Content -->

            {% endblock %}
            {% block footer %}
                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Inclusion Educativa 2019</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->
            {% endblock %}
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Seguro que desea cerrar sesión?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Selecione Cerrar sesión para salir o Cancelar para volver</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="{% url 'logout' %}">Cerrar sesión</a>
                </div>
            </div>
        </div>
    </div>


    {% block js %}

        <!-- Bootstrap core JavaScript-->
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

        <!-- Core plugin JavaScript-->
        <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

        <!-- Custom scripts for all pages-->
        <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

        <!-- Page level plugins -->
        <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

        <!-- Page level custom scripts -->
        <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
        <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="{% static 'js/bootstrap-select.min.js' %}"></script>

        <!-- (Optional) Latest compiled and minified JavaScript translation files -->
        <script src="{% static 'js/i18n/defaults-es_ES.min.js' %}"></script>


        <script>
            $('select').selectpicker();
        </script>

        <script>
            function habilitarP2L1(value) {
                if (value == "Si") {
                    // habilitamos
                    document.getElementById("descripcion_prenatal").disabled = false;
                } else if (value == "No") {
                    // deshabilitamos
                    document.getElementById("descripcion_prenatal").disabled = true;
                } else if (value == "Desconozco") {
                    // deshabilitamos
                    document.getElementById("descripcion_prenatal").disabled = true;
                }
            }

            function habilitarP2L2(value) {
                if (value == "Si") {
                    // habilitamos
                    document.getElementById("descripcion_perinatal").disabled = false;
                } else if (value == "No") {
                    // deshabilitamos
                    document.getElementById("descripcion_perinatal").disabled = true;
                } else if (value == "Desconozco") {
                    // deshabilitamos
                    document.getElementById("descripcion_perinatal").disabled = true;
                }
            }

            function habilitarP2L3(value) {
                if (value == "Si") {
                    // habilitamos
                    document.getElementById("descripcion_postnatal").disabled = false;
                } else if (value == "No") {
                    // deshabilitamos
                    document.getElementById("descripcion_postnatal").disabled = true;
                } else if (value == "Desconozco") {
                    // deshabilitamos
                    document.getElementById("descripcion_postnatal").disabled = true;
                }
            }

            function habilitarP3(value) {
                if (value == "Otro") {
                    // habilitamos
                    document.getElementById("descripcion_tipoFamilia").disabled = false;
                } else {
                    // deshabilitamos
                    document.getElementById("descripcion_tipoFamilia").disabled = true;
                }
            }

            function habilitarP5(value) {
                if (value == "Si") {
                    // habilitamos
                    document.getElementById("descripcionAntecedentesFPatologicos").disabled = false;
                } else if (value == "No") {
                    // deshabilitamos
                    document.getElementById("descripcionAntecedentesFPatologicos").disabled = true;
                } else if (value == "Desconozco") {
                    // deshabilitamos
                    document.getElementById("descripcionAntecedentesFPatologicos").disabled = true;
                }
            }


            function habilitarP6(value) {
                if (value == "No") {
                    document.getElementById("diagnosticoMedicoDescripcion").disabled = true;
                    document.getElementById("diagnosticoMedicoOpcion").disabled = true;

                } else if (value == "Si") {
                    document.getElementById("diagnosticoMedicoOpcion").disabled = false;
                }
                if (value == "Sindrome") {

                    document.getElementById("diagnosticoMedicoDescripcion").disabled = false;
                } else if (value != "Sindrome") {
                    document.getElementById("diagnosticoMedicoDescripcion").disabled = true;

                }
            }

            function habilitarP7(value) {
                if (value == "No") {
                    document.getElementById("diagnosticoSindromicoDescripcion").disabled = true;
                    document.getElementById("diagnosticoSindromicoOpcion").disabled = true;

                } else if (value == "Si") {
                    document.getElementById("diagnosticoSindromicoOpcion").disabled = false;
                }

                if (value == "Trastorno") {

                    document.getElementById("diagnosticoSindromicoDescripcion").disabled = false;
                } else if (value != "Trastorno") {
                    document.getElementById("diagnosticoSindromicoDescripcion").disabled = true;

                }
            }

            function habilitarP8(value) {


                if (value == "Otro") {

                    document.getElementById("detalleDiagnosticoSindromico").disabled = false;
                } else if (value != "Otro") {
                    document.getElementById("detalleDiagnosticoSindromico").disabled = true;

                }
            }


            function habilitaP7() {


                if (document.getElementById("p5r2").checked) {

                    document.getElementById("p7r11").disabled = false;
                    document.getElementById("p7r21").disabled = false;
                    document.getElementById("p7r31").disabled = false;
                    document.getElementById("p7r41").disabled = false;
                    document.getElementById("p7r51").disabled = false;
                    document.getElementById("p7r61").disabled = false;
                    document.getElementById("p7r71").disabled = false;
                    document.getElementById("p7r81").disabled = false;
                    document.getElementById("p7r91").disabled = false;
                    document.getElementById("p7r101").disabled = false;
                    document.getElementById("p7r111").disabled = false;
                    document.getElementById("p7r121").disabled = false;
                    document.getElementById("p7r131").disabled = false;
                    document.getElementById("p7r141").disabled = false;
                    document.getElementById("p7r151").disabled = false;


                } else {

                    document.getElementById("p7r11").disabled = true;
                    document.getElementById("p7r21").disabled = true;
                    document.getElementById("p7r31").disabled = true;
                    document.getElementById("p7r41").disabled = true;
                    document.getElementById("p7r51").disabled = true;
                    document.getElementById("p7r61").disabled = true;
                    document.getElementById("p7r71").disabled = true;
                    document.getElementById("p7r81").disabled = true;
                    document.getElementById("p7r91").disabled = true;
                    document.getElementById("p7r101").disabled = true;
                    document.getElementById("p7r111").disabled = true;
                    document.getElementById("p7r121").disabled = true;
                    document.getElementById("p7r131").disabled = true;
                    document.getElementById("p7r141").disabled = true;
                    document.getElementById("p7r151").disabled = true;
                }
            }
        </script>

        <script>


            function soloNumeros(evt) {
                var charCode = (evt.which) ? evt.which : event.keyCode;

                if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                    console.log('entro aqui')
                    return false;
                } else
                    {#var cedula = document.getElementById("cedula").value.trim();#}
                    var cad = "";
                $("#cedula").on('input', function () {

                    document.getElementById("salida").innerHTML = ("La cedula no existe");
                    cad = $(this).val();


                    var total = 0;
                    var longitud = cad.length;
                    var longcheck = longitud - 1;
                    console.log("tamano = " + longitud);

                    if (cad !== "") {
                        for (i = 0; i < longcheck; i++) {
                            if (i % 2 === 0) {
                                var aux = cad.charAt(i) * 2;
                                if (aux > 9) aux -= 9;
                                total += aux;
                            } else {
                                total += parseInt(cad.charAt(i)); // parseInt o concatenará en lugar de sumar
                            }
                        }

                        total = total % 10 ? 10 - total % 10 : 0;

                        if (cad.charAt(longitud - 1) == total) {
                            console.log("entro");
                            document.getElementById("salida").innerHTML = ("Cedula correcta");

                        } else {
                            document.getElementById("salida").innerHTML = ("La cedula no existe");

                        }
                    }
                });


                return true;


            }

        </script>

    {% endblock %}
</div>
</div>
</body>


</html>
