{% extends 'AppDocente/base.html' %}
{% block contenido %}
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            {% if messages %}
                {% for message in messages %}
                    <p class="alert alert-info">{{ message }}</p>
                {% endfor %}
            {% endif %}
            <form method="post" class="user ">
                {% csrf_token %}
                <div id="datosPersonales">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Datos personales del estudiante</h1>
                        </div>
                        {% if estudiante %}
                            <div class="form-group row">
                                <div class="col-sm-6 mb-6 mb-sm-0">
                                    <label>Nombres:<input type="text" class="form-control form-control-user"
                                                          name="nombres" size="100" id="nombres"
                                                          value="{{ estudiante.nombres }}"
                                                          onkeyup="javascript:this.value=this.value.toUpperCase();"
                                                          required disabled></label>
                                </div>
                                <div class="col-sm-6">
                                    <label>Apellidos:<input type="text" class="form-control form-control-user"
                                                            name="apellidos" size="100" id="apellidos"
                                                            value="{{ estudiante.apellidos }}"
                                                            onkeyup="javascript:this.value=this.value.toUpperCase();"
                                                            required disabled></label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-6 mb-sm-0">
                                    <label>Fecha de Nacimiento: <input
                                            pattern="(?:19|20)(?:(?:[13579][26]|[02468][048])-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))|(?:[0-9]{2}-(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-8])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:29|30))|(?:(?:0[13578]|1[02])-31)))"
                                            class="form-control form-control-user" name="fechaNacimiento"
                                            id="fechaNacimiento" value="{{ estudiante.fechaNacimiento }}"
                                            placeholder="yyyy-mm-dd" autocomplete="off"
                                            required disabled></label>
                                </div>
                                <div class="col-sm-6">
                                    <label>Cédula:<input type="text" class="form-control form-control-user"
                                                         name="cedula" size="100" id="cedula"
                                                         value="{{ estudiante.cedula }}"
                                                         onkeyup="javascript:this.value=this.value.toUpperCase();"
                                                         required disabled></label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-6 mb-sm-0">
                                    <label class="text-md-center font-weight-bold text-primary">INSTITUCIÓN
                                        &nbsp;
                                        <select class="selectpicker" name="institucion" id="institucion"
                                                required disabled>
                                            <option value="{{ estudiante.institucion.id }}" disabled
                                                    selected>{{ estudiante.institucion.nombre }}
                                            </option>
                                        </select>
                                    </label>
                                </div>
                                <div class="col-sm-6">
                                    <label class="text-md-center font-weight-bold text-primary">NIVEL QUE CURSA
                                        &nbsp;
                                        <select name="nivel" id="nivel"
                                                class="selectpicker" required disabled>
                                            <option value="{{ estudiante.nivel }}" disabled
                                                    selected>{{ estudiante.nivel }}
                                            </option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                        {% else %}
                            <div class="form-group row">
                                <div class="col-sm-6 mb-6 mb-sm-0">
                                    <label>Nombres:<input type="text" class="form-control form-control-user"
                                                          name="nombres" size="100" id="nombres"
                                                          onkeyup="javascript:this.value=this.value.toUpperCase();"
                                                          required></label>
                                </div>
                                <div class="col-sm-6">
                                    <label>Apellidos:<input type="text" class="form-control form-control-user"
                                                            name="apellidos" size="100" id="apellidos"
                                                            onkeyup="javascript:this.value=this.value.toUpperCase();"
                                                            required></label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-6 mb-sm-0">
                                    <label>Fecha de Nacimiento: <input
                                            pattern="(?:19|20)(?:(?:[13579][26]|[02468][048])-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))|(?:[0-9]{2}-(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-8])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:29|30))|(?:(?:0[13578]|1[02])-31)))"
                                            class="form-control form-control-user" name="fechaNacimiento"
                                            id="fechaNacimiento"
                                            placeholder="yyyy-mm-dd" autocomplete="off"
                                            required></label>
                                </div>
                                <div class="col-sm-6">
                                    <label>Cédula:<input type="text" class="form-control form-control-user"
                                                         name="cedula" size="100" id="cedula"
                                                         value="{{ cedula }}"
                                                         onkeyup="javascript:this.value=this.value.toUpperCase();"
                                                         required disabled></label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-6 mb-sm-0">
                                    <label class="text-md-center font-weight-bold text-primary">INSTITUCIÓN
                                        &nbsp;
                                        <select class="selectpicker" name="institucion" id="institucion"
                                                required>
                                            <option value="" disabled selected>Escoger una opción</option>
                                            {% if instituciones %}
                                                {% for institucion in instituciones %}
                                                    <option value="{{ institucion.id }}">{{ institucion.nombre }}</option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </label>
                                </div>
                                <div class="col-sm-6">
                                    <label class="text-md-center font-weight-bold text-primary">NIVEL QUE CURSA
                                        &nbsp;
                                        <select name="nivel" id="nivel"
                                                class="selectpicker" required>
                                            <option value="" disabled selected>Escoger una opción</option>
                                            <option value="Subnivel 1">Subnivel 1 (2 años)
                                            </option>
                                            <option value="Subnivel 2">Subnivel 2 (3 años)
                                            </option>
                                            <option value="Subnivel 3">Subnivel 3 (4 años)
                                            </option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <hr>
                <div id="fichaInformativaDocente">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Ficha informativa del estudiante</h1>
                        </div>
                        <ol>
                            <li><b>Se presentaron dificultades en las siguientes etapas:</b></li>
                            <dd>
                                <h6>Prenatal (antes del nacimiento):</h6>
                                <input type="radio" value="Si" name="respuesta_prenatal"
                                       onchange="habilitarP2L1(this.value);"> Si
                                <input type="radio" value="No" name="respuesta_prenatal"
                                       onchange="habilitarP2L1(this.value);"> No
                                <input type="radio" value="Desconozco" name="respuesta_prenatal"
                                       onchange="habilitarP2L1(this.value);" checked> Desconozco
                                <textarea class="form-control" type="text" id="descripcion_prenatal"
                                          name="descripcion_prenatal"
                                          disabled></textarea>
                                <h6>Perinatal (durante el nacimiento):</h6>
                                <input type="radio" value="Si" name="respuesta_perinatal"
                                       onchange="habilitarP2L2(this.value);"> Si
                                <input type="radio" value="No" name="respuesta_perinatal"
                                       onchange="habilitarP2L2(this.value);"> No
                                <input type="radio" value="Desconozco" name="respuesta_perinatal"
                                       onchange="habilitarP2L2(this.value);" checked> Desconozco
                                <textarea class="form-control" type="text" id="descripcion_perinatal"
                                          name="descripcion_perinatal"
                                          disabled></textarea>
                                <h6>Postnatal (después del nacimiento 0-1 año ):</h6>
                                <input type="radio" value="Si" name="respuesta_postnatal"
                                       onchange="habilitarP2L3(this.value);"> Si
                                <input type="radio" value="No" name="respuesta_postnatal"
                                       onchange="habilitarP2L3(this.value);"> No
                                <input type="radio" value="Desconozco" name="respuesta_postnatal"
                                       onchange="habilitarP2L3(this.value);" checked> Desconozco
                                <textarea class="form-control" id="descripcion_postnatal"
                                          name="descripcion_postnatal"
                                          disabled></textarea>
                            </dd>

                            <li><b>Tipo de Familia:</b></li>
                            <dd>
                                <input type="radio" value="Nuclear" name="tipoFamilia"
                                       onchange="habilitarP3(this.value);" required> Nuclear (Progenitores e hijos)
                                <br>
                                <input type="radio" value="Extendida" name="tipoFamilia"
                                       onchange="habilitarP3(this.value);"> Extendida (Abuelos, tíos, primos y otros
                                parientes consanguíneos o afines que viven juntos)
                                <br>
                                <input type="radio" value="Monoparental" name="tipoFamilia"
                                       onchange="habilitarP3(this.value);"> Monoparental (Un solo progenitor ya sea la
                                madre o el padre)
                                <br>
                                <input type="radio" value="Otro" name="tipoFamilia"
                                       onchange="habilitarP3(this.value);"> Otro (indique)
                                <br>
                                <textarea class="form-control" id="descripcion_tipoFamilia"
                                          name="descripcion_tipoFamilia"
                                          disabled></textarea>
                            </dd>

                            <li><b>Desde su perspectiva la dinámica familiar del niño(a) es:</b></li>
                            <dd>
                                <select name="dinamicaFamiliar" id="dinamicaFamiliar"
                                        class="selectpicker" required>
                                    <option value="" disabled selected>Seleccione una opción</option>
                                    <option value="Excelente">Excelente</option>
                                    <option value="Muy Buena">Muy Buena</option>
                                    <option value="Buena">Buena</option>
                                    <option value="Regular">Regular</option>
                                </select>
                            </dd>

                            <li><b>Existen antecedentes familiares patológicos significativos:</b></li>
                            <dd>
                                <input type="radio" value="Si" name="antecedentesFPatologicos"
                                       onchange="habilitarP5(this.value);"/> Si (indique)
                                <input type="radio" value="No" name="antecedentesFPatologicos"
                                       onchange="habilitarP5(this.value);"/> No
                                <input type="radio" value="Desconozco" name="antecedentesFPatologicos"
                                       onchange="habilitarP5(this.value);" checked/> Desconozco
                                <textarea class="form-control" id="descripcionAntecedentesFPatologicos"
                                          name="descripcionAntecedentesFPatologicos" disabled></textarea>
                            </dd>

                            <li><b>El Diagnóstico médico(Información proporcionada por un especialista de salud)
                                (se presenta la lista si marca afirmativo)</b></li>
                            <dd>
                                <input type="radio" value="Si" name="diagnosticoMedicoRespuesta"
                                       onchange="habilitarP6(this.value);"> Si &nbsp;
                                <select class="selectpicker" onchange="habilitarP6(this.value);"
                                        name="diagnosticoMedicoOpcion"
                                        id="diagnosticoMedicoOpcion"
                                        disabled required>
                                    <option value="" disabled selected>Seleccione una opción</option>
                                    <option value="Visual">Visual</option>
                                    <option value="Auditivo">Auditivo</option>
                                    <option value="Motriz">Motriz</option>
                                    <option value="Fisico">Físico</option>
                                    <option value="Neurologico">Neurológico</option>
                                    <option value="Sindrome">Síndrome (indique)</option>
                                </select> &nbsp;
                                <br>
                                <input type="radio" value="No" name="diagnosticoMedicoRespuesta"
                                       id="diagnosticoMedicoRespuesta"
                                       onchange="habilitarP6(this.value);" checked> No
                                <textarea class="form-control" name="diagnosticoMedicoDescripcion"
                                          id="diagnosticoMedicoDescripcion" disabled></textarea>
                            </dd>

                            <li><b>Diagnóstico sindrómico funcional:</b></li>
                            <dd>
                                <input type="radio" value="Si" name="diagnosticoSindromicoRespuesta"
                                       onchange="habilitarP7(this.value);"> Si &nbsp;
                                <select onchange="habilitarP7(this.value);"
                                        name="diagnosticoSindromicoOpcion"
                                        id="diagnosticoSindromicoOpcion"
                                        class="selectpicker" disabled required>
                                    <option value="" disabled selected>Seleccione una opción</option>
                                    <option value="Intelectual">Intelectual</option>
                                    <option value="Comunicación">Comunicación</option>
                                    <option value="Retraso en las áreas de desarrollo">Retraso en las áreas de
                                        desarrollo
                                    </option>
                                    <option value="Trastorno">Trastorno (indique)</option>
                                </select> &nbsp;
                                <br>
                                <input type="radio" value="No" name="diagnosticoSindromicoRespuesta"
                                       id="diagnosticoSindromicoRespuesta"
                                       onchange="habilitarP7(this.value);" checked> No
                                <textarea class="form-control" name="diagnosticoSindromicoDescripcion"
                                          id="diagnosticoSindromicoDescripcion" disabled></textarea>
                            </dd>

                            <li><b>El diagnóstico sindrómico funcional fue emitido por:</b></li>
                            <dd>
                                <select onchange="habilitarP8(this.value);"
                                        name="emisionDiagnosticoSindromico"
                                        id="emisionDiagnosticoSindromico"
                                        class="selectpicker" required>
                                    <option value="" disabled selected>Seleccione una opción</option>
                                    <option value="DECE">DECE</option>
                                    <option value="UDAI">UDAI</option>
                                    <option value="Equipo multidisciplinario">Equipo multidisciplinario
                                    </option>
                                    <option value="Otro">Otro (indique)</option>
                                </select>
                                <textarea class="form-control" name="detalleDiagnosticoSindromico"
                                          id="detalleDiagnosticoSindromico" disabled></textarea>
                            </dd>

                            <li><b>Detalle de signos y síntomas que requieren asesoría:</b></li>
                            <dd>
                                    <textarea class="form-control" name="detalleDificultades" rows="10"
                                              cols="50"></textarea>
                            </dd>
                        </ol>

                        <div>
                            <h6>Enviar a:</h6>
                            <div>
                                <label><input type="checkbox" id="todos" name="todos" value="todos" disabled>
                                    Todos/a</label><br>
                                <label><input type="checkbox" id="psicologo" name="psicologo" value="psicologo"
                                              disabled>
                                    Liliana Peñafiel (Psicóloga)</label><br>
                                <label><input type="checkbox" id="terapistaLenguaje" name="terapistaLenguaje"
                                              value="terapistaLenguaje" disabled>
                                    Adriana Leon (Terapista de Lenguaje)</label><br>
                                <label><input type="checkbox" id="terapistaFisico" name="terapistaFisico"
                                              value="terapistaFisico" disabled>
                                    Soledad Rivera (Terapista Física)</label><br>
                                <label><input type="checkbox" id="educador" name="educador" value="educador" disabled>
                                    Jenny Vélez (Educadora)</label><br>
                                <label><input type="checkbox" id="estimuladorTemprano"
                                              name="estimuladorTemprano"
                                              value="estimuladorTemprano" disabled>
                                    Cayetana Palacios (Estimuladora temprana)</label><br>
                            </div>
                        </div>
                        <div align="center">
                            <button type="submit" class="btn btn btn-primary btn-user">Guardar
                            </button>
                            <a class="btn btn btn-danger btn-user"
                               href="{% url 'appdocente:base' %}">Cancelar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script>
        function buscarEstudiante(evt) {
            var cedula = $("#cedula").val();
            var html = "";
            $.ajax({
                url: "{% url 'appdocente:buscarEstudiante' %}",
                type: "get",
                data: {
                    'cedula': cedula,
                },
                success: function (data) {
                    var nombres = document.getElementById("nombres");
                    var apellidos = document.getElementById("apellidos");
                    var fechaNacimiento = document.getElementById("fechaNacimiento");
                    var datosPersonales = document.getElementById("datosPersonales");
                    var fichaInformativaDocente = document.getElementById("fichaInformativaDocente");
                    var institucion = document.getElementById("institucion");
                    var nivelCursa = document.getElementById("nivelCursa");


                    if (data != null) {
                        datosPersonales.hidden = false;
                        fichaInformativaDocente.hidden = false;
                        nombres.disabled = true;
                        apellidos.disabled = true;
                        nivelCursa.disabled = true;
                        fechaNacimiento.disabled = true;
                        institucion.disabled = true;
                        nombres.value = data[0].fields.nombres;
                        apellidos.value = data[0].fields.apellidos;
                        fechaNacimiento.value = data[0].fields.fechaNacimiento;
                        institucion.value = data[0].fields.institucion;
                        nivelCursa.value = data[0].fields.nivelCursa;
                        $('select').selectpicker('refresh');


                    }
                },
                error: function (data) {
                    var datosPersonales = document.getElementById("datosPersonales");
                    var fichaInformativaDocente = document.getElementById("fichaInformativaDocente");

                    if ($("#cedula").val().length > 0) {
                        datosPersonales.hidden = false;
                        fichaInformativaDocente.hidden = false;
                    } else {
                        console.log('Error no existen coicidencias');
                        datosPersonales.hidden = true;
                        fichaInformativaDocente.hidden = true;
                    }


                }
            });
        }
    </script>

    <script>
        function habilitarP2L1(value) {
            if (value == "Si") {
                // habilitamos
                document.getElementById("descripcion_prenatal").disabled = false;
            } else if (value == "No") {
                // deshabilitamos
                document.getElementById("descripcion_prenatal").disabled = true;
            } else if (value == "Desconozco") {
                // deshabilitamos
                document.getElementById("descripcion_prenatal").disabled = true;
            }
        }

        function habilitarP2L2(value) {
            if (value == "Si") {
                // habilitamos
                document.getElementById("descripcion_perinatal").disabled = false;
            } else if (value == "No") {
                // deshabilitamos
                document.getElementById("descripcion_perinatal").disabled = true;
            } else if (value == "Desconozco") {
                // deshabilitamos
                document.getElementById("descripcion_perinatal").disabled = true;
            }
        }

        function habilitarP2L3(value) {
            if (value == "Si") {
                // habilitamos
                document.getElementById("descripcion_postnatal").disabled = false;
            } else if (value == "No") {
                // deshabilitamos
                document.getElementById("descripcion_postnatal").disabled = true;
            } else if (value == "Desconozco") {
                // deshabilitamos
                document.getElementById("descripcion_postnatal").disabled = true;
            }
        }

        function habilitarP3(value) {
            if (value == "Otro") {
                // habilitamos
                document.getElementById("descripcion_tipoFamilia").disabled = false;
            } else {
                // deshabilitamos
                document.getElementById("descripcion_tipoFamilia").disabled = true;
            }
        }

        function habilitarP5(value) {
            if (value == "Si") {
                // habilitamos
                document.getElementById("descripcionAntecedentesFPatologicos").disabled = false;
            } else if (value == "No") {
                // deshabilitamos
                document.getElementById("descripcionAntecedentesFPatologicos").disabled = true;
            } else if (value == "Desconozco") {
                // deshabilitamos
                document.getElementById("descripcionAntecedentesFPatologicos").disabled = true;
            }
        }


        function habilitarP6(value) {
            if (value == "No") {
                document.getElementById("diagnosticoMedicoDescripcion").disabled = true;
                document.getElementById("diagnosticoMedicoOpcion").disabled = true;
                $('select').selectpicker('refresh');

            } else if (value == "Si") {
                document.getElementById("diagnosticoMedicoOpcion").disabled = false;
                $('select').selectpicker('refresh');
            }
            if (value == "Sindrome") {

                document.getElementById("diagnosticoMedicoDescripcion").disabled = false;
            } else if (value != "Sindrome") {
                document.getElementById("diagnosticoMedicoDescripcion").disabled = true;

            }
        }

        function habilitarP7(value) {
            if (value == "No") {
                document.getElementById("diagnosticoSindromicoDescripcion").disabled = true;
                document.getElementById("diagnosticoSindromicoOpcion").disabled = true;
                $('select').selectpicker('refresh');

            } else if (value == "Si") {
                document.getElementById("diagnosticoSindromicoOpcion").disabled = false;
                $('select').selectpicker('refresh');
            }

            if (value == "Trastorno") {

                document.getElementById("diagnosticoSindromicoDescripcion").disabled = false;
            } else if (value != "Trastorno") {
                document.getElementById("diagnosticoSindromicoDescripcion").disabled = true;

            }
        }

        function habilitarP8(value) {


            if (value == "Otro") {

                document.getElementById("detalleDiagnosticoSindromico").disabled = false;
            } else if (value != "Otro") {
                document.getElementById("detalleDiagnosticoSindromico").disabled = true;

            }
        }


        function habilitaP7() {


            if (document.getElementById("p5r2").checked) {

                document.getElementById("p7r11").disabled = false;
                document.getElementById("p7r21").disabled = false;
                document.getElementById("p7r31").disabled = false;
                document.getElementById("p7r41").disabled = false;
                document.getElementById("p7r51").disabled = false;
                document.getElementById("p7r61").disabled = false;
                document.getElementById("p7r71").disabled = false;
                document.getElementById("p7r81").disabled = false;
                document.getElementById("p7r91").disabled = false;
                document.getElementById("p7r101").disabled = false;
                document.getElementById("p7r111").disabled = false;
                document.getElementById("p7r121").disabled = false;
                document.getElementById("p7r131").disabled = false;
                document.getElementById("p7r141").disabled = false;
                document.getElementById("p7r151").disabled = false;


            } else {

                document.getElementById("p7r11").disabled = true;
                document.getElementById("p7r21").disabled = true;
                document.getElementById("p7r31").disabled = true;
                document.getElementById("p7r41").disabled = true;
                document.getElementById("p7r51").disabled = true;
                document.getElementById("p7r61").disabled = true;
                document.getElementById("p7r71").disabled = true;
                document.getElementById("p7r81").disabled = true;
                document.getElementById("p7r91").disabled = true;
                document.getElementById("p7r101").disabled = true;
                document.getElementById("p7r111").disabled = true;
                document.getElementById("p7r121").disabled = true;
                document.getElementById("p7r131").disabled = true;
                document.getElementById("p7r141").disabled = true;
                document.getElementById("p7r151").disabled = true;
            }
        }
    </script>

    <script>
        function soloNumeros(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                console.log('entro aqui')
                return false;
            } else
                {#var cedula = document.getElementById("cedula").value.trim();#}
                var cad = "";
            $("#cedula").on('input', function () {
                document.getElementById("salida").innerHTML = ("La cedula no existe");
                cad = $(this).val();
                var total = 0;
                var longitud = cad.length;
                var longcheck = longitud - 1;
                console.log("tamano = " + longitud);
                if (cad !== "") {
                    for (i = 0; i < longcheck; i++) {
                        if (i % 2 === 0) {
                            var aux = cad.charAt(i) * 2;
                            if (aux > 9) aux -= 9;
                            total += aux;
                        } else {
                            total += parseInt(cad.charAt(i)); // parseInt o concatenará en lugar de sumar
                        }
                    }

                    total = total % 10 ? 10 - total % 10 : 0;

                    if (cad.charAt(longitud - 1) == total) {
                        console.log("entro");
                        document.getElementById("salida").innerHTML = ("Cedula correcta");

                    } else {
                        document.getElementById("salida").innerHTML = ("La cedula no existe");

                    }
                }
            });
            return true;
        }
    </script>

{% endblock %}