{% extends 'GestionSistema/base.html' %}
{% block usuario %}
    <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ usuario_logueado }}</span>
{% endblock %}
{% block contenido %}
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800" align="center">DOCENTES</h1>
    <div class="table-responsive">
        <form method="post">
            {% csrf_token %}
            <a class="btn btn-success" href="{% url 'gestionsistema:docente_crear' %}">Nuevo Registro <i class="far fa-file"></i></a>
            <br/>
            <br/>
            <br/>
        </form>
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Lista de Docentes</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <td><b>ID</b></td>
                            <td><b>Nombres</b></td>
                            <td><b>Apellidos</b></td>
                            <td><b>Cédula</b></td>
                            <td><b>Nivel de Instrucción</b></td>
                            <td><b>Cargo</b></td>
                            <td><b>Fecha de Nacimiento</b></td>
                            <td><b>Correo</b></td>
                            <td><b>Institución</b></td>
                            <td><b>Acciones</b></td>
                        </tr>
                        </thead>
                        <tbody>
                        {% if docentes %}
                            {% for docente in docentes %}
                                <tr>
                                    <td>{{ docente.id }}</td>
                                    <td>{{ docente.usuario.nombres }}</td>
                                    <td>{{ docente.usuario.apellidos }}</td>
                                    <td>{{ docente.usuario.cedula }}</td>
                                    <td>{{ docente.nivelInstrucion }}</td>
                                    <td>{{ docente.cargo }}</td>
                                    <td>{{ docente.usuario.fechaNacimiento }}</td>
                                    <td>{{ docente.usuario.username }}</td>
                                    <td>{{ docente.institucion }}</td>
                                    <td>
                                        <a class="btn btn-primary"
                                           href="{% url 'gestionsistema:docente_editar' docente.id %}">Editar <i class="fas fa-cogs"></i></a>
                                        <a class="btn btn-danger"
                                           href="{% url 'gestionsistema:docente_eliminar' docente.id %}">Eliminar <i class="far fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <h4>No hay registros de Docentes.</h4>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}