{% extends 'GestionSistema/base.html' %}
{% block contenido %}
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-5">
            <h1 class="h3 mb-2 text-gray-800 text-center">Datos Personales</h1>
            <audio controls>
                <source src="{{ audio }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <label><b>Nombres:</b>
                        <p>
                            {{ usuario.nombres }}
                        </p>
                    </label>
                </div>
                <div class="col-sm-6">
                    <label><b>Apellidos:</b>
                        <p>
                            {{ usuario.apellidos }}
                        </p>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <label><b>Cedula:</b>
                        <p>
                            {{ usuario.cedula }}
                        </p>
                    </label>
                </div>
                <div class="col-sm-6">
                    <label><b>Fecha de Nacimiento:</b>
                        <p>
                            {{ usuario.fechaNacimiento }}
                        </p>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <label><b>Institucion:</b>
                        <p>
                            {{ usuario.institucion.nombre }}
                        </p>
                    </label>
                </div>
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <label><b>Rol:</b>
                        <p>
                            {{ usuario.tipo_usuario }}
                        </p>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <label><b>Institucion:</b>
                        <p>
                            {{ usuario.institucion.nombre }}
                        </p>
                    </label>
                </div>
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <label><b>Rol:</b>
                        <p>
                            {{ usuario.tipo_usuario }}
                        </p>
                    </label>
                </div>
            </div>
        </div>
    </div>
    {#            <h1 class="h3 mb-2 text-gray-800" align="center">Ficha Informativa realizada por el Docente</h1>#}
    {#            <hr class="sidebar-divider my-0">#}
    {#            <br>#}
    {#            <label><b>Dificultad Prenatal:</b>#}
    {#                <p>#}
    {#                    Respuesta: {{ fichaInformativaDocente.dificultad.respuesta_prenatal }} <br/>#}
    {#                    Descripcion: {{ fichaInformativaDocente.dificultad.descripcion_prenatal }}#}
    {#                </p>#}
    {#            </label>#}
    {#            <br>#}
    {#            <label><b>Dificultad Perinatal:</b>#}
    {#                <p>#}
    {#                    Respuesta: {{ fichaInformativaDocente.dificultad.respuesta_perinatal }} <br/>#}
    {#                    Descripcion: {{ fichaInformativaDocente.dificultad.descripcion_perinatal }}#}
    {#                </p>#}
    {#            </label>#}
    {#            <br>#}
    {#            <label><b>Dificultad Postnatal:</b>#}
    {#                <p>#}
    {#                    Respuesta: {{ fichaInformativaDocente.dificultad.respuesta_postnatal }} <br/>#}
    {#                    Descripcion: {{ fichaInformativaDocente.dificultad.descripcion_postnatal }}#}
    {#                </p>#}
    {#            </label>#}
    {#            <br>#}
    {#            <label><b>Tipo de Familia:</b>#}
    {#                <p>#}
    {#                    {{ fichaInformativaDocente.tipoFamilia }}#}
    {#                </p>#}
    {#            </label>#}
    {#            <br>#}
    {#            <label><b>Dinamica Familiar:</b>#}
    {#                <p>#}
    {#                    {{ fichaInformativaDocente.dinamicaFamiliar }}#}
    {#                </p>#}
    {#            </label>#}
    {#            <br>#}
    {#            <label><b>Antecedentes familiares patológicos significativos:</b>#}
    {#                <p>#}
    {#                    {{ fichaInformativaDocente.antecedentesFPatologicos }}#}
    {#                </p>#}
    {#            </label>#}
    {#            <br>#}
    {#            <label><b>Diagnóstico médico:</b>#}
    {#                <p>#}
    {#                    Respuesta: {{ fichaInformativaDocente.diagnosticoMedico.diagnosticoMedicoRespuesta }}<br/>#}
    {#                    Opcion: {{ fichaInformativaDocente.diagnosticoMedico.diagnosticoMedicoOpcion }}<br/>#}
    {#                    Descripcion: {{ fichaInformativaDocente.diagnosticoMedico.diagnosticoMedicoDescripcion }}#}
    {#                </p>#}
    {#            </label>#}
    {#            <br>#}
    {##}
    {#            <label><b>Diagnóstico sindrómico:</b>#}
    {#                <p>#}
    {#                    Respuesta: {{ fichaInformativaDocente.diagnosticoSindromico.diagnosticoSindromicoRespuesta }}<br/>#}
    {#                    Opcion: {{ fichaInformativaDocente.diagnosticoSindromico.diagnosticoSindromicoOpcion }}<br/>#}
    {#                    Descripcion: {{ fichaInformativaDocente.diagnosticoSindromico.diagnosticoSindromicoDescripcion }}#}
    {#                </p>#}
    {#            </label>#}
    {#            <br>#}
    {##}
    {#            <label><b>Detalle de Dificultades:</b>#}
    {#                <p>#}
    {#                    {{ fichaInformativaDocente.detalleDificultades }}<br/>#}
    {#                </p>#}
    {#            </label>#}
    {#        </div>#}
    {#    </div>#}
    {#    </div>#}
    {#    <div class="card o-hidden border-0 shadow-lg my-5">#}
    {#        <div class="card-body p-3">#}
    {#            <div class="container-fluid">#}
    {#                <div id="comentariosHechos" name="comentariosHechos">#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}

{% endblock %}



