{%  extends 'AppDocente/base.html' %}
{%  block content %}
    <h1 class="h3 mb-2 text-gray-800" align="center">FORMULARIO ESTUDIANTE</h1>
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="container-fluid">
                    <br>
                    <br>
                    <form method="post" class="user">
                        {%  csrf_token %}
                        <div class="form-group row">
                            <div class="container">
                                <br>
                                <br>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-6 mb-sm-0">
                                        <label>Nombres:<input type="text" class="form-control form-control-user"  name="nombres" required size="100"></label>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Apellidos:<input type="text" class="form-control form-control-user"   name="apellidos" required size="100"></label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label>Cedula:<input type="text" class="form-control form-control-user"   name="cedula" required size="100"></label>
                                    </div>
                                </div>
                                    <div class="col-sm-6">
                                        <label for="fechaNacimiento">Fecha de Nacimiento:<input type="date" class="form-control form-control-user datepicker"   data-date-format="yyyy/mm/dd" id="fechaNacimiento" name="fechaNacimiento" required/></label>
                                    </div>

                                <br>


                                <h4>Nivel que cursa:</h4>
                                <div class="container">
                                    <select name="nivelCursa" id="nivelCursa" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" required>
                                        <option value="">Seleccione una opción</option>
                                        <option value="Subnivel 1 (2 años)" name="nivelCursa" >Subnivel 1 (2 años)</option>
                                        <option value="Subnivel 2 (3 años)" name="nivelCursa" >Subnivel 2 (3 años)</option>
                                        <option value="Subnivel 3 (4 años)" name="nivelCursa" >Subnivel 3 (4 años)</option>

                                    </select>
                                </div>
                                <br>
                                <br>



                                <h4>Se presentaron dificultades en las siguientes etapas:</h4>
                                <label >Prenatal (antes del nacimiento): </label>
                                <div>
                                    <input type="radio" value="SI" name="respuesta_prenatal" onchange="habilitar1(this.value);"> Si
                                    <input type="radio" value="NO" name="respuesta_prenatal" onchange="habilitar1(this.value);"> No
                                    <input type="radio" value="DESCONOZCO" name="respuesta_prenatal" onchange="habilitar1(this.value);" checked> Desconozco
                                </div>
                                <div>
                                    <input type="text" id="campoRespuesta1" name="descripcion_prenatal" size="100" disabled>
                                </div>
                                <label >Perinatal (durante el nacimiento):: </label>
                                <div>
                                    <input type="radio" value="SI" name="respuesta_perinatal" onchange="habilitar2(this.value);"> Si
                                    <input type="radio" value="NO" name="respuesta_perinatal" onchange="habilitar2(this.value);"> No
                                    <input type="radio" value="DESCONOZCO" name="respuesta_perinatal" onchange="habilitar2(this.value);" checked> Desconozco
                                </div>
                                <div>
                                    <input type="text" id="campoRespuesta2" name="descripcion_prenatal" size="100" disabled >
                                </div>

                                <label >Postnatal (después del nacimiento 0-1 año ): </label>
                                <div>
                                    <input type="radio" value="SI" name="respuesta_postnatal" onchange="habilitar3(this.value);"> Si
                                    <input type="radio" value="NO" name="respuesta_postnatal" onchange="habilitar3(this.value);"> No
                                    <input type="radio" value="DESCONOZCO" name="respuesta_postnatal" onchange="habilitar3(this.value);" checked> Desconozco
                                </div>
                                <div>
                                    <input type="text" id="campoRespuesta3" name="descripcion_prenatal" size="100" disabled>
                                </div>
                                <br>
                                <br>


                                <h4>Tipo de Familia:</h4>
                                <div>
                                    <input type="radio" value="NUCLEAR" name="tipoFamilia" onchange="habilitarFamilia(this.value);"/> Nuclear (Progenitores e hijos)
                                    <br>
                                    <input type="radio" value="EXTENDIDA" name="tipoFamilia" onchange="habilitarFamilia(this.value);"/> Extendida (Abuelos, tíos, primos y otros parientes consanguíneos o afines que viven juntos)
                                    <br>
                                    <input type="radio" value="MONOPARENTAL" name="tipoFamilia" onchange="habilitarFamilia(this.value);"/> Monoparental (Un solo progenitor ya sea la madre o el padre)
                                    <br>
                                    <input type="radio" value="OTRO" name="tipoFamilia" onchange="habilitarFamilia(this.value);" /> Otro (indique)
                                </div>
                                <div>
                                    <input type="text" id="campoFamilia" name="descripcion_prenatal" disabled>
                                </div>
                                <br>
                                <br>


                                 <h4>Desde su perspectiva la dinámica familiar del niño/a es:</h4>
                                <div class="container">
                                    <select name="dinamicaFamiliar" id="dinamicaFamiliar" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" required>
                                        <option value="">Seleccione una opción</option>
                                        <option value="Excelente" name="dinamicaFamiliar" >Excelente</option>
                                        <option value="Muy Buena" name="dinamicaFamiliar" >Muy Buena</option>
                                        <option value="Buena" name="dinamicaFamiliar" >Buena</option>
                                        <option value="Regular" name="dinamicaFamiliar" >Regular</option>
                                        <option value="Regular" name="dinamicaFamiliar" >Regular</option>

                                    </select>
                                </div>
                                <br>
                                <br>


                                <h4>Existen antecedentes familiares patológicos significativos:</h4>
                                <div>
                                    <input type="radio" value="SI" name="antecedentesFPatologicos" onchange="habilitar(this.value);"/> Si(Indique)
                                    <br>
                                    <input type="radio" value="NO" name="antecedentesFPatologicos" onchange="habilitar(this.value);"/> No
                                     <br>
                                    <input type="radio" value="DESCONOZCO" name="antecedentesFPatologicos" onchange="habilitar(this.value);"/> Desconozco
                                </div>
                                <div>
                                    <input type="text" id="segundo" name="descripcionAntecedentesFPatologicos" />
                                </div>
                                <br>
                                 <br>


                                <h4>El Diagnóstico médico(Información proporcionada por un especialista de salud) (se presenta la lista si marca afirmativo)</h4>

                                <div>
                                    <input type="radio" value="SI" name="diagnosticoRecibido" onchange="habilitarDiagnostico(this.value);"> Si(Indique)


                                <select name="diagnostico_medico" id="cmbox" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" required>
                                    <option value="">Seleccione una opción</option>
                                    <option value="Visual">Visual</option>
                                    <option value="Auditivo">Auditivo</option>
                                    <option value="Motriz">Motriz</option>
                                    <option value="Fisico">Físico </option>
                                    <option value="Neurologico">Neurológico</option>
                                    <option value="Sindrome">Síndrome (indique)</option>
                                </select>
                                     </div>
                                <input type="radio" value="200" name="diagnosticoRecibido" onchange="habilitarDiagnostico(this.value);" checked> No
                                <input type="text"  name="indiqueSindrome" />

                                <br>
                                <br>
                                <br>



                                 <h4>Diagnóstico sindrómico funcional</h4>
                                <div>
                                    <input type="radio" value="SI" name="diagnosticoRecibido" onchange="habilitarDiagnostico(this.value);"> Si(Indique)
                                <select name="diagnostico_medico" id="cmbox" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" required>
                                    <option value="">Seleccione una opción</option>
                                    <option value="Visual">Intelectual</option>
                                    <option value="Auditivo">Comunicación</option>
                                    <option value="Motriz">Retraso en las áreas de desarrollo </option>
                                    <option value="Fisico">Trastorno  (indique)</option>
                                </select>
                                     </div>
                                <input type="radio" value="200" name="diagnosticoRecibido" onchange="habilitarDiagnostico(this.value);" checked> No
                                <input type="text"  name="indiqueSindrome" />
                                <br>
                                <br>
                                <br>


                                <h4>El diagnóstico sindrómico funcional fue emitido por:</h4>
                                <div>
                                    <input type="radio" value="SI" name="diagnosticoRecibido" onchange="habilitarDiagnostico(this.value);"> Si(Indique)
                                <select name="diagnostico_medico" id="cmbox" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" required>
                                    <option value="">Seleccione una opción</option>
                                    <option value="Visual">DECE</option>
                                    <option value="Auditivo">UDAI</option>
                                    <option value="Motriz">Equipo multidisciplinario</option>
                                    <option value="Fisico">Otro (indique)</option>
                                </select>
                                     </div>
                                <br>
                                <br>
                                <br>


                                <h4>Detalle de signos y síntomas que requieren asesoría</h4>
                                <div class="col-sm-6">
                                    <textarea name="detalleDificultades" rows="10" cols="50"></textarea>
                                </div>


                                <div align="center">

                                    <button type="submit" class="btn btn btn-primary btn-user">Registrar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <br>
                </div>
            </div>

        </div>
    </div>
{% endblock %}