{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Plainced</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700"
          rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">


    <!-- =======================================================
      Theme Name: Rapid
      Theme URL: https://bootstrapmade.com/rapid-multipurpose-bootstrap-business-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>

<body>
<!--==========================
Header
============================-->
<header id="header">

    <div id="topbar">
        <div class="container">
            <div class="social-links">
                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="logo float-left">
            <!-- Uncomment below if you prefer to use an image logo -->
            <h1 class="text-light"><a href="#intro" class="scrollto"><span>PLAINCED</span></a></h1>
            <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
        </div>
        <nav class="main-nav float-right d-none d-lg-block">
            <ul>
                <li class="active"><a href="#intro">Inicio</a></li>
                <li><a href="#about">Acerca de</a></li>
                <li><a href="#team">Equipo Multidiciplinario</a></li>
                <li><a href="#services">Recomendador</a></li>
                <li><a href="#footer">Contáctanos</a></li>
                {% if usuario_logueado.is_authenticated %}
                    {% if usuario_logueado.tipo_usuario == 'experto' %}
                        <li class="text-lowercase"><a href="{% url 'appexperto:base' %}"><i class="fa fa-user"></i> Mi
                            cuenta</a>
                        </li>
                    {% endif %}
                    {% if usuario_logueado.tipo_usuario == 'administrador' %}
                        <li class="text-lowercase"><a href="{% url 'gestionsistema:base' %}"><i class="fa fa-user"></i>
                            Mi cuenta</a>
                        </li>
                    {% endif %}
                    {% if usuario_logueado.tipo_usuario == 'docente' %}
                        <li class="text-lowercase"><a href="{% url 'appdocente:base' %}"><i class="fa fa-user"></i>
                            Mi cuenta</a>
                        </li>
                    {% endif %}
                    {% if usuario_logueado.tipo_usuario == 'representante' %}
                        <li class="text-lowercase"><a href="{% url 'apprepresentante:base' %}"><i
                                class="fa fa-user"></i>
                            Mi cuenta</a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="text-lowercase"><a href="{% url 'login' %}"><i class="fa fa-user"></i> Iniciar Sesion</a>
                    </li>
                {% endif %}
            </ul>


        </nav><!-- .main-nav -->
    </div>

</header><!-- #header -->

<!--==========================
  Intro Section
============================-->

<section id="intro" class="clearfix">
    <div class="container d-flex h-100">
        <div class="row justify-content-center align-self-center">
            <div class="col-md-6 intro-info order-md-first order-last">
                <h2 align="center">Plataforma de Inclusión<span>Educativa</span></h2>
                <div>
                    {% if usuario_logueado.is_authenticated %}
                        {% if usuario_logueado.tipo_usuario == 'experto' %}
                            <a href="{% url 'appexperto:base' %}" class="btn-get-started scrollto">Mi cuenta</a>
                        {% endif %}
                        {% if usuario_logueado.tipo_usuario == 'administrador' %}
                            <a href="{% url 'gestionsistema:base' %}" class="btn-get-started scrollto">Mi cuenta</a>
                        {% endif %}
                        {% if usuario_logueado.tipo_usuario == 'docente' %}
                            <a href="{% url 'appdocente:base' %}" class="btn-get-started scrollto">Mi cuenta</a>
                        {% endif %}
                        {% if usuario_logueado.tipo_usuario == 'representante' %}
                            <a href="{% url 'apprepresentante:base' %}" class="btn-get-started scrollto">Mi cuenta</a>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'crearUsuario' %}" class="btn-get-started scrollto">Crear cuenta </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6 intro-img order-md-last order-first text-center">
                <img src="../static/img/intro-bg.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<!-- #intro -->

<main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">

        <div class="container">
            <div class="row">

                <div class="col-lg-7 col-md-6">
                    <div class="about-content">
                        <h2>Componentes</h2>
                        <h3>Plataforma accesible y siempre disponible.</h3>
                        <p>Plataforma web que dispone de componentes indispensables para una Educación Inclusiva y de
                            calidad.</p>

                        <ul>
                            <li><i class="ion-android-checkmark-circle"></i> AQUI VA EL LINK DEL TEST.</li>
                            <li><i class="ion-android-checkmark-circle"></i> Equipo profesional.</li>
                            <li><i class="ion-android-checkmark-circle"></i> Comunicación integral.</li>
                            <li><i class="ion-android-checkmark-circle"></i> Diagnóstico Presuntivo.</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- #about -->


    <!--==========================
      Team Section
    ============================-->
    <section id="team" class="section-bg">
        <div class="container">
            <div class="section-header">
                <h3>Equipo multidiciplinario</h3>
                <p>Equipo de Trabajo integral que brinda asistencia.</p>
            </div>

            <div class="row">

                <div class="col-lg-3 col-md-6 wow fadeInUp">
                    <div class="member">
                        <a target="_blank" href="{% url 'curriculum' %}"><img src="media/img_perfil/adriana.jpeg"
                                                                              class="img-fluid" alt=""></a>
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Adriana León</h4>
                                <span>Terapista de Lenguaje</span>

                                <div class="social">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="member">
                        <img src="media/img_perfil/soledad.jpeg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Soledad Rivera</h4>
                                <span>Terapista Física</span>
                                <div class="social">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="member">
                        <img src="media/img_perfil/liliana.jpeg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Liliana Peñafiel</h4>
                                <span>Psicóloga</span>
                                <div class="social">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="member">
                        <img src="media/img_perfil/cayetana.jpeg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Cayetana Palacios</h4>
                                <span>Estimuladora Temprana</span>
                                <div class="social">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="member">
                        <img src="media/img_perfil/jaimmy.jpeg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Jaimmy Vélez</h4>
                                <span>Educadora</span>
                                <div class="social">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- #team -->

    <!--==========================
         Services Section
       ============================-->
    <section id="services" class="section-bg">
        <div class="container">

            <header class="section-header">
                <h3>Recomendador</h3>
                <p>Escribir que tipos de servicios brindamos en la plataforma.</p>
            </header>

            <div class="row">

                {#                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">#}
                {#                    <div class="box">#}
                {#                        <div class="icon" style="background: #fceef3;"><i class="ion-ios-analytics-outline"#}
                {#                                                                          style="color: #ff689b;"></i></div>#}
                {#                        <h4 class="title"><a href="">Lorem Ipsum</a></h4>#}
                {#                        <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias#}
                {#                            excepturi sint occaecati cupiditate non provident</p>#}
                {#                    </div>#}
                {#                </div>#}
                {#                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">#}
                {#                    <div class="box">#}
                {#                        <div class="icon" style="background: #fff0da;"><i class="ion-ios-bookmarks-outline"#}
                {#                                                                          style="color: #e98e06;"></i></div>#}
                {#                        <h4 class="title"><a href="">Dolor Sitema</a></h4>#}
                {#                        <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip#}
                {#                            ex ea commodo consequat tarad limino ata</p>#}
                {#                    </div>#}
                {#                </div>#}

                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-paper-outline"
                                                                          style="color: #3fcdc7;"></i></div>
                        <h4 class="title"><a href="{% url 'automata:datosTest' %}" target="_blank">Area Lenguaje</a>
                        </h4>
                        <p class="description">Este test te ayudar a conocer un poco del estado del estudiante</p>
                    </div>
                </div>
                {#                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">#}
                {#                    <div class="box">#}
                {#                        <div class="icon" style="background: #eafde7;"><i class="ion-ios-speedometer-outline"#}
                {#                                                                          style="color:#41cf2e;"></i></div>#}
                {#                        <h4 class="title"><a href="">Magni Dolores</a></h4>#}
                {#                        <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia#}
                {#                            deserunt mollit anim id est laborum</p>#}
                {#                    </div>#}
                {#                </div>#}
                {##}
                {#                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">#}
                {#                    <div class="box">#}
                {#                        <div class="icon" style="background: #e1eeff;"><i class="ion-ios-world-outline"#}
                {#                                                                          style="color: #2282ff;"></i></div>#}
                {#                        <h4 class="title"><a href="">Nemo Enim</a></h4>#}
                {#                        <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis#}
                {#                            praesentium voluptatum deleniti atque</p>#}
                {#                    </div>#}
                {#                </div>#}
                {#                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">#}
                {#                    <div class="box">#}
                {#                        <div class="icon" style="background: #ecebff;"><i class="ion-ios-clock-outline"#}
                {#                                                                          style="color: #8660fe;"></i></div>#}
                {#                        <h4 class="title"><a href="">Eiusmod Tempor</a></h4>#}
                {#                        <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero#}
                {#                            tempore, cum soluta nobis est eligendi</p>#}
                {#                    </div>#}
                {#                </div>#}

            </div>

        </div>
    </section><!-- #services -->

    <!--==========================
      Why Us Section
    ============================-->
    <section id="why-us" class="wow fadeIn">
        <div class="container-fluid">

            <header class="section-header">
                <h3>Por qué Nosotros?</h3>
                <p>Somos un equipo de profesionales dispuestos a brindar la ayuda necesaria y requerida por los docentes
                    y padres de familia de instituciones educativas.</p>
            </header>

            <div class="row">

                <div class="col-lg-6">
                    <div class="why-us-img">
                        <img src="" alt="" class="img-fluid">
                    </div>
                </div>


            </div>

        </div>

        </div>

        </div>


    </section><!-- #portfolio -->

</main>

<!--==========================
  Footer
============================-->
<footer id="footer" class="section-bg">
    <div class="footer-top">
        <div class="container">

            <div class="row">

                <div class="col-lg-6">

                    <div class="row">

                        <div class="col-sm-6">

                            <div class="footer-info">
                                <h3>PLAINCED</h3>
                                <p>Plataforma para el diagnóstico presuntivo de problemas y síndromes en estudiantes
                                    pertenecentes a instituciones educativas. .</p>
                            </div>


                        </div>

                        <div class="col-sm-6">


                            <div class="footer-links">
                                <h4>Contáctanos</h4>
                                <p>
                                    Cuenca<br>
                                    Ecuador <br>

                                </p>
                            </div>

                        </div>

                    </div>

                </div>
            </div>


        </div>

    </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>PLAINCED</strong>. Todos los derechos son reservados
        </div>
        <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Rapid
            -->
            Diseñado por <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<!-- Uncomment below i you want to use a preloader -->
<!-- <div id="preloader"></div> -->

<!-- JavaScript Libraries -->
<script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
<script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/mobile-nav/mobile-nav.js' %}"></script>
<script src="{% static 'lib/wow/wow.min.js' %}"></script>
<script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
<!-- Contact Form JavaScript File -->
<script src="{% static 'contactform/contactform.js' %}"></script>

<!-- Template Main Javascript File -->
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>
