{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Registro</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

    <!-- Datepicker styles for this template-->
    <link href="{% static 'dist/datepicker.css' %}" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="{% static 'css/bootstrap-select.min.css' %}">


</head>

<body class="bg-gradient-primary">

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Registrate!</h1>
                        </div>
                        <form class="user" method="post">
                            {% csrf_token %}
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" name="nombres"
                                           placeholder="Nombres" required>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user" name="apellidos"
                                           placeholder="Apellidos" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="email" class="form-control form-control-user" name="username"
                                           placeholder="Correo electrónico" required>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user" name="cedula" id="cedula"
                                           placeholder="Cedula" onkeypress="return validarCedula(event)" maxlength="10" required>
                                    <div id="salida"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input pattern="(?:19|20)(?:(?:[13579][26]|[02468][048])-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))|(?:[0-9]{2}-(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-8])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:29|30))|(?:(?:0[13578]|1[02])-31)))"
                                           class="form-control form-control-user" name="fechaNacimiento"
                                           id="fechaNacimiento"
                                           placeholder="Fecha de Nacimiento yyyy-mm-dd" autocomplete="off" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" class="form-control form-control-user"
                                           name="password" id="password"
                                           placeholder="Contraseña" required>
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control form-control-user"
                                           name="password2" id="password2"
                                           placeholder="Repita la contraseña" required>
                                </div>
                            </div>
                            <div id="aviso_contrasena"></div>
                            <hr>
                            <div class="form-group">
                                <select class="selectpicker" name="tipo_usuario" required>
                                    <option value="" disabled selected>Escoger una opción</option>
                                    <option value="Experto">Experto</option>
                                    <option value="Docente">Docente</option>
                                    <option value="Representante">Representante</option>
                                </select>
                            </div>
                            <hr>
                            <div id="form2"></div>
                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                Registrarme
                            </button>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="forgot-password.html">Forgot Password?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="login.html">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>

<!-- DatePicker core JavaScript-->
<script src="{% static 'dist/datepicker.js' %}"></script>
<script src="{% static 'dist/datepicker.es-ES.js' %}"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="{% static 'js/bootstrap-select.min.js' %}"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="{% static 'js/i18n/defaults-es_ES.min.js' %}"></script>


<script>

    $('#fechaNacimiento').datepicker({
        language: 'es-ES',
        format: 'yyyy-mm-dd',
        autoHide: true
    });
</script>

<script>
    $('select').selectpicker();
</script>

<script>
    function habilitarFormulario(value) {
        var html = "        <div class=\"form-group row\">\n" +
            "                                    <div class=\"col-sm-6 mb-3 mb-sm-0\">\n" +
            "                                        <input type=\"text\"\n" +
            "                                               class=\"form-control form-control-user\"\n" +
            "                                               id=\"tituloUniversitario\" name=\"tituloUniversitario\"\n" +
            "                                               placeholder=\"Titulo Universitario\"\n" +
            "                                               required>\n" +
            "                                    </div>\n" +
            "                                    <div class=\"col-sm-6\">\n" +
            "                                        <input type=\"text\" class=\"form-control form-control-user\"\n" +
            "                                               id=\"experienciaProfesional\" name=\"experienciaProfesional\"\n" +
            "                                               placeholder=\"Experiencia Profesional\"\n" +
            "                                               required>\n" +
            "                                    </div>\n" +
            "                                </div>\n" +
            "                                <div class=\"form-group row\">\n" +
            "                                    <div class=\"col-sm-6 mb-3 mb-sm-0\">\n" +
            "                                        <input type=\"text\"\n" +
            "                                               class=\"form-control form-control-user\"\n" +
            "                                               id=\"experienciaAcademica\" name=\"experienciaAcademica\"\n" +
            "                                               placeholder=\"Experiencia Académica\"\n" +
            "                                               required>\n" +
            "                                    </div>\n" +
            "                                    <div class=\"col-sm-6\">\n" +
            "                                        <input type=\"text\" class=\"form-control form-control-user\"\n" +
            "                                               id=\"experienciaInvestigativa\" name=\"experienciaInvestigativa\"\n" +
            "                                               placeholder=\"Experiencia Investigativa\"\n" +
            "                                               required>\n" +
            "                                    </div>\n" +
            "                                </div>";

        if (value == "1") {
            document.getElementById("form2").innerHTML = html;
        } else {
            document.getElementById("form2").innerHTML = ("");
        }
    }
</script>

<script>
    $(document).ready(function () {
        //variables
        var pass1 = $('[name=password]');
        var pass2 = $('[name=password2]');
        var confirmacion = "Las contraseñas coinciden";
        var longitud = "La contraseña debe estar formada entre 6-10 carácteres";
        var negacion = "No coinciden las contraseñas";
        var vacio = "La contraseña no puede estar vacía";
        //oculto por defecto el elemento span
        var span = $('<span></span>').insertAfter(pass2);
        span.hide();

        //función que comprueba las dos contraseñas
        function coincidePassword() {
            var valor1 = pass1.val();
            var valor2 = pass2.val();
            //muestro el span
            span.show().removeClass();
            //condiciones dentro de la función
            if (valor1 != valor2) {
                span.text(negacion).addClass('negacion');
            }
            if (valor1.length == 0 || valor1 == "") {
                span.text(vacio).addClass('negacion');
            }
            if (valor1.length < 6 || valor1.length > 10) {
                span.text(longitud).addClass('negacion');
            }
            if (valor1.length != 0 && valor1 == valor2) {
                span.text(confirmacion).removeClass("negacion").addClass('confirmacion');
            }
        }

        //ejecuto la función al soltar la tecla
        pass2.keyup(function () {
            coincidePassword();
        });
    });
</script>

<script>

    function validarCedula(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        } else
            var cad = "";
        $("#cedula").on('input', function () {
            document.getElementById("salida").innerHTML = ("La cedula es incorrecta");
            cad = $(this).val();
            var total = 0;
            var longitud = cad.length;
            var longcheck = longitud - 1;
            console.log("tamano = " + longitud);
            if (cad !== "") {
                for (i = 0; i < longcheck; i++) {
                    if (i % 2 === 0) {
                        var aux = cad.charAt(i) * 2;
                        if (aux > 9) aux -= 9;
                        total += aux;
                    } else {
                        total += parseInt(cad.charAt(i)); // parseInt o concatenará en lugar de sumar
                    }
                }
                total = total % 10 ? 10 - total % 10 : 0;
                if (cad.charAt(longitud - 1) == total) {
                    document.getElementById("salida").innerHTML = ("Cedula correcta");

                    $.ajax({
                        url: "{% url 'gestionsistema:buscarUsuario'  %}",
                        type: "get", // or "get"
                        data: {
                            'cedula': cad,

                        },
                        success: function (data) {
                           console.log("entro a success");
                            if (data != null) {
                                console.log(data[0]);
                                document.getElementById("salida").innerHTML = ("Cedula ya existe");
                            }
                        },
                        error: function () {
                            console.log('error' + data.error())
                        }
                    });
                    estadoCedula = true;

                } else {
                    document.getElementById("salida").innerHTML = ("La cedula es incorrecta");

                }
            }
        });


        return true;


    }

</script>

</body>

</html>
