{%  extends 'docente/home.html' %}
{%  block content %}
    <h1 class="h3 mb-2 text-gray-800" align="center">FORMULARIO ESTUDIANTE</h1>
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="container-fluid">
                    <br>
                    <br>
                    <form method="post" class="user">
                        {%  csrf_token %}
                        <div class="form-group row">
                            <div class="container">
                                <br>
                                <br>
                                <div class="form-group">
                                    <div align="center">
                                        <h4>{{ resultado }}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                    <br>
                </div>
            </div>

        </div>
    </div>
{% endblock %}