{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Favicons -->
    <link href="{% static 'img/favicon.ico' %}" rel="icon">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="keywords" content="inclusion, sistemas expertos, autismo">
    <meta name="description" content="Plataforma para el acompañamiento en los procesos de inclusión educativa">
    <meta name="author" content="Jafet Galvez && Katherine Gonzalez">
    <title>Plainced</title>
    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700"
          rel="stylesheet">
    <!-- Bootstrap CSS File -->
    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Libraries CSS Files -->
    <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">
    <!-- Main Stylesheet File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
<header id="header">
    <div id="topbar">
        <div class="container">
            <div class="social-links">
                {% if LINK_TWITTER %}
                    <a href="{{ LINK_TWITTER }}" class="twitter"><i class="fa fa-twitter"></i></a>
                {% endif %}
                {% if LINK_FACEBOOK %}
                    <a href="{{ LINK_FACEBOOK }}" class="facebook"><i class="fa fa-facebook"></i></a>
                {% endif %}
                {% if LINK_INSTAGRAM %}
                    <a href="{{ LINK_INSTAGRAM }}" class="instagram"><i class="fa fa-instagram"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="logo float-left">
            <!-- Uncomment below if you prefer to use an image logo -->
            <h1 class="text-light"><a href="" class="scrollto"><span>PLAINCED</span></a></h1>
            <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
        </div>
        <nav class="main-nav float-right d-none d-lg-block">
            <ul>
                <li class="active"><a href="#intro">Inicio</a></li>
                <li><a href="#about">Acerca de</a></li>
                <li><a href="#team">Equipo Interdisciplinario</a></li>
                <li><a href="#services">Sistemas Expertos</a></li>
                <li><a href="#footer">Contáctanos</a></li>
                {% if request.user.is_authenticated %}
                    {% if request.user.tipo_usuario == 'experto' %}
                        <li class="text-lowercase"><a href="{% url 'appexperto:home' %}"><i class="fa fa-user"></i>
                            Mi
                            cuenta</a>
                        </li>
                    {% endif %}
                    {% if request.user.is_superuser %}
                        <li class="text-lowercase"><a href="{% url 'core:home' %}"><i
                                class="fa fa-user"></i>
                            Mi cuenta</a>
                        </li>
                    {% endif %}
                    {% if request.user.tipo_usuario == 'docente' %}
                        <li class="text-lowercase"><a href="{% url 'appdocente:home' %}"><i class="fa fa-user"></i>
                            Mi cuenta</a>
                        </li>
                    {% endif %}
                    {% if request.user.tipo_usuario == 'representante' %}
                        <li class="text-lowercase"><a href="{% url 'apprepresentante:home' %}"><i
                                class="fa fa-user"></i>
                            Mi cuenta</a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="text-lowercase"><a href="{% url 'registration:login' %}"><i class="fa fa-user"></i>
                        Iniciar sesión</a>
                    </li>
                {% endif %}
            </ul>

        </nav><!-- .main-nav -->
    </div>
</header><!-- #header -->
<!--==========================
  Intro Section
============================-->
{% block contenido %}
    <section id="intro" class="clearfix">
        <div class="container d-flex h-100">
            <div class="row justify-content-center align-self-center">
                <div class="col-md-6 intro-info order-md-first order-last">
                    <h2 align="center">Plataforma de Inclusión <span>Educativa</span></h2>
                    <div>
                        {% if request.user.is_authenticated %}
                        {% else %}
                            <a href="{% url 'core:crearUsuario' %}" class="btn-get-started scrollto">Crear
                                cuenta </a>
                        {% endif %}
                    </div>
                </div>
                {% if 'ok' in request.GET %}
                    <div class="col-lg-6 m-2" style="position: absolute;">
                        <div class="alert alert-success" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            Gracias por contactarte con nosotros mensaje enviado con exito!
                        </div>
                    </div>
                {% endif %}
                <div class="col-md-6 intro-img order-md-last order-first text-center">
                    <img src="../static/img/intro-bg.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
    <!-- #intro -->
    <main id="main">
        <!--==========================
          About Us Section
        ============================-->
        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-6">
                        <div class="about-content">
                            <h2>Misión</h2>
                            {#                        <h3>Plataforma accesible y siempre disponible.</h3>#}
                            <p>Somos un equipo interdisciplinario comprometido con la educación inclusiva,
                                que proporciona apoyo y acompañamiento a docentes y padres de familia en
                                estrategias metodológicas y didácticas, a través de asistencia en línea
                                como puente de acceso al trabajo cooperativo y colaborativo</p>
                            <h2>Visión</h2>
                            <p>Asegurar la participación colaborativa mediante redes de apoyo entre
                                profesionales del equipo interdisciplinario y la comunidad educativa, brindando
                                herramientas específicas que promuevan adecuadas prácticas inclusivas de manera
                                integral</p>
                            <h2>Objetivos</h2>
                            <ul>
                                <li><i class="ion-android-checkmark-circle"></i>Asesorar a docentes en la implementación
                                    de
                                    estrategias metodológicas para casos específicos
                                </li>
                                <li><i class="ion-android-checkmark-circle"></i>Guiar a los padres de familia en el
                                    manejo
                                    de estrategias a ser aplicadas en el contexto familiar según sus necesidades
                                    específicas
                                </li>
                                <li><i class="ion-android-checkmark-circle"></i>Capacitar a docentes y padres de familia
                                    en
                                    temas de inclusión educativa
                                </li>
                                <li><i class="ion-android-checkmark-circle"></i>Promover el trabajo transdisciplinar
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- #about -->
        <!--==========================
          Team Section
        ============================-->
        {% if expertos %}
            <section id="team" class="section-bg">
                <div class="container">
                    <div class="section-header">
                        <h3>Equipo Profesional Interdisciplinario</h3>
                        <p>Equipo integrado por profesionales en las áreas de Psicología, Lenguaje, Estimulación
                            Temprana,
                            Pedagogía, Terapia Física y Docente</p>
                    </div>
                    <div class="row">

                        {% for experto in expertos %}
                            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="member">
                                    {% if experto.usuario.foto %}
                                        <a target="_blank"
                                           href="{% url 'core:curriculum' experto.usuario.id %}"><img
                                                src="{{ experto.usuario.foto.url }}"
                                                class="img-fluid" alt=""></a>
                                    {% else %}
                                        <a target="_blank"
                                           href="{% url 'core:curriculum' experto.usuario.id %}"><img
                                                src="https://www.jdevoto.cl/web/wp-content/uploads/2018/04/default-user-img.jpg"
                                                class="img-fluid" alt=""></a>
                                    {% endif %}
                                    <div class="member-info">
                                        <div class="member-info-content">
                                            <h4>{{ experto.usuario.nombres }} {{ experto.usuario.apellidos }}</h4>
                                            <span>{{ experto.tituloUniversitario }}</span>
                                            <div class="social">
                                                <a href=""><i class="fa fa-twitter"></i></a>
                                                <a href=""><i class="fa fa-facebook"></i></a>
                                                <a href=""><i class="fa fa-google-plus"></i></a>
                                                <a href=""><i class="fa fa-linkedin"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {#                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">#}
                        {#                        <div class="member">#}
                        {#                            <img src="media/img_perfil/soledad.jpeg" class="img-fluid" alt="">#}
                        {#                            <div class="member-info">#}
                        {#                                <div class="member-info-content">#}
                        {#                                    <h4>Soledad Rivera</h4>#}
                        {#                                    <span>Terapista Física</span>#}
                        {#                                    <div class="social">#}
                        {#                                        <a href=""><i class="fa fa-twitter"></i></a>#}
                        {#                                        <a href=""><i class="fa fa-facebook"></i></a>#}
                        {#                                        <a href=""><i class="fa fa-google-plus"></i></a>#}
                        {#                                        <a href=""><i class="fa fa-linkedin"></i></a>#}
                        {#                                    </div>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        </div>#}
                        {#                    </div>#}
                        {#                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">#}
                        {#                        <div class="member">#}
                        {#                            <img src="media/img_perfil/liliana.jpeg" class="img-fluid" alt="">#}
                        {#                            <div class="member-info">#}
                        {#                                <div class="member-info-content">#}
                        {#                                    <h4>Liliana Peñafiel</h4>#}
                        {#                                    <span>Psicóloga</span>#}
                        {#                                    <div class="social">#}
                        {#                                        <a href=""><i class="fa fa-twitter"></i></a>#}
                        {#                                        <a href=""><i class="fa fa-facebook"></i></a>#}
                        {#                                        <a href=""><i class="fa fa-google-plus"></i></a>#}
                        {#                                        <a href=""><i class="fa fa-linkedin"></i></a>#}
                        {#                                    </div>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        </div>#}
                        {#                    </div>#}
                        {#                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">#}
                        {#                        <div class="member">#}
                        {#                            <img src="media/img_perfil/cayetana.jpeg" class="img-fluid" alt="">#}
                        {#                            <div class="member-info">#}
                        {#                                <div class="member-info-content">#}
                        {#                                    <h4>Cayetana Palacios</h4>#}
                        {#                                    <span>Estimuladora Temprana</span>#}
                        {#                                    <div class="social">#}
                        {#                                        <a href=""><i class="fa fa-twitter"></i></a>#}
                        {#                                        <a href=""><i class="fa fa-facebook"></i></a>#}
                        {#                                        <a href=""><i class="fa fa-google-plus"></i></a>#}
                        {#                                        <a href=""><i class="fa fa-linkedin"></i></a>#}
                        {#                                    </div>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        </div>#}
                        {#                    </div>#}
                        {#                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">#}
                        {#                        <div class="member">#}
                        {#                            <img src="media/img_perfil/jaimmy.jpeg" class="img-fluid" alt="">#}
                        {#                            <div class="member-info">#}
                        {#                                <div class="member-info-content">#}
                        {#                                    <h4>Jaimmy Vélez</h4>#}
                        {#                                    <span>Educadora</span>#}
                        {#                                    <div class="social">#}
                        {#                                        <a href=""><i class="fa fa-twitter"></i></a>#}
                        {#                                        <a href=""><i class="fa fa-facebook"></i></a>#}
                        {#                                        <a href=""><i class="fa fa-google-plus"></i></a>#}
                        {#                                        <a href=""><i class="fa fa-linkedin"></i></a>#}
                        {#                                    </div>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        </div>#}
                        {#                    </div>#}

                    </div>
                </div>
            </section><!-- #team -->
        {% endif %}
        <!--==========================
             Services Section
           ============================-->
        <section id="services" class="section-bg">
            <div class="container">
                <header class="section-header">
                    <h3>Sistemas Expertos</h3>
                    <p>Herramienta que brinda planes de trabajo en las diferentes áreas del
                        desarrollo según los resultados de una encuesta previa</p>
                </header>
                <div class="">
                    <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <div class="box">
                            <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-paper-outline"
                                                                              style="color: #3fcdc7;"></i></div>
                            <h4 class="title"><a href="{% url 'automata:datosTest' %}" target="_blank">Área Lenguaje</a>
                            </h4>
                            <p class="description">Esta ficha de evaluación para padres le permitirá a usted adquirir un
                                programa específico para
                                su hijo(a) con actividades de refuerzo en el hogar </p>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- #services -->

    </main>
{% endblock %}
<!--==========================
  Footer
============================-->
<footer id="footer" class="section-bg">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="footer-info">
                                <h3>Plainced</h3>
                                <p>Plataforma para el acompañamiento en los procesos de inclusión educativa</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="footer-links">
                                <h4>Enlaces Importantes</h4>
                                <ul>
                                    <li><a href="#terms" data-toggle="modal">Términos y condiciones</a></li>
                                </ul>
                            </div>
                            <div class="footer-links">
                                <h4>Contáctanos</h4>
                                <p>
                                    Universidad Politécnica Salesiana <br>
                                    <strong>Telefono:</strong> +593987905068<br>
                                    <strong>Correo:</strong>inclusioneducativa@ups.edu.ec<br>
                                </p>
                            </div>
                            <div class="social-links">
                                {% if LINK_TWITTER %}
                                    <a href="{{ LINK_TWITTER }}" class="twitter"><i class="fa fa-twitter"></i></a>
                                {% endif %}
                                {% if LINK_FACEBOOK %}
                                    <a href="{{ LINK_FACEBOOK }}" class="facebook"><i class="fa fa-facebook"></i></a>
                                {% endif %}
                                {% if LINK_INSTAGRAM %}
                                    <a href="{{ LINK_INSTAGRAM }}" class="instagram"><i class="fa fa-instagram"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form">
                        <h4>Envíanos un mensaje</h4>
                        <p>En caso de requerir más información comuníquese con nosotros</p>
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Tu nombre"
                                       data-rule="minlen:4" data-msg="Please enter at least 4 chars" required/>
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" id="email"
                                       placeholder="Tu correo" data-rule="email"
                                       data-msg="Please enter a valid email" required/>
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="subject" id="subject"
                                       placeholder="Asunto" data-rule="minlen:4"
                                       data-msg="El asunto debe tener mas de 8 caracteres" required/>
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="5" data-rule="required"
                                          data-msg="Por favor escribe algo para nosotros"
                                          placeholder="Mensaje" required></textarea>
                                <div class="validation"></div>
                            </div>

                            <div id="sendmessage">Your message has been sent. Thank you!</div>
                            <div id="errormessage"></div>

                            <div class="text-center">
                                <button type="submit" title="Send Message">Enviar mensaje</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>Plainced</strong>. Todos los derechos reservados
        </div>
        <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Rapid

            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
        </div>
    </div>
</footer>
<!-- #footer -->


<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<!-- Uncomment below i you want to use a preloader -->
<!-- <div id="preloader"></div> -->
<!-- Modals -->
<!-- Modal -->
<div class="modal fade" id="terms" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Términos y condiciones del uso de plataforma</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Al acceder a la plataforma el usuario debe registrar sus datos personales y llenar la ficha de
                antecedentes en su totalidad previo al análisis de caso por parte del equipo interdisciplinario para la
                emisión de un plan de estrategias metodológicas inclusivas.
                <br>
                Para que el usuario sea atendido por el equipo interdisciplinario, debe pertenecer a una Institución
                educativa que se encuentre registrada en la plataforma, caso contrario deberá solicitar el registro de
                su Centro educativo al correo electrónico (inclusioneducativa@ups.edu.ec)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Entendido</button>
            </div>
        </div>
    </div>
</div>
<!-- JavaScript Libraries -->
<script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
<script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/mobile-nav/mobile-nav.js' %}"></script>
<script src="{% static 'lib/wow/wow.min.js' %}"></script>
<script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
<!-- Contact Form JavaScript File -->
<script src="{% static 'contactform/contactform.js' %}"></script>

<!-- Template Main Javascript File -->
<script src="{% static 'js/main.js' %}"></script>
<script>
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 2000);
</script>


</body>
</html>
