{% extends 'AppExperto/base.html' %}
{% block usuario %}
    <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ usuario_logueado }}</span>
{% endblock %}
{% block contenido %}
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="container-fluid">
                <form method="post" class="user">
                    {% csrf_token %}
                    <div class="container-fluid">
                        <br>
                        <br>
                        <h1 class="h3 mb-2 text-gray-800 text-center">Datos Personales</h1>
                        <br>
                        <br>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label><b>Nombres:</b>
                                    <p>
                                        {{ estudianteDocenteFicha.nombres }}
                                    </p>
                                </label>
                            </div>
                            <div class="col-sm-6">
                                <label><b>Apellidos:</b>
                                    <p>
                                        {{ estudianteDocenteFicha.apellidos }}
                                    </p>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label><b>Cedula:</b>
                                    <p>
                                        {{ estudianteDocenteFicha.cedula }}
                                    </p>
                                </label>
                            </div>
                            <div class="col-sm-6">
                                <label><b>Fecha de Nacimiento:</b>
                                    <p>
                                        {{ estudianteDocenteFicha.fechaNacimiento }}
                                    </p>
                                </label>
                            </div>
                        </div>
                        <h1 class="h3 mb-2 text-gray-800" align="center">Ficha Informativa realizada por el Docente</h1>
                        <hr class="sidebar-divider my-0">

                        {% if estudianteDocenteFicha %}
                            <label><b>Nivel que cursa:</b>
                                <p>
                                    {{ estudianteDocenteFicha.nivelCursa }}
                                </p>
                            </label>
                            <br/>
                            <label><b>Dificultad Prenatal:</b>
                                <p>
                                    Respuesta: {{ estudianteDocenteFicha.dificultad.respuesta_prenatal }} <br/>
                                    Descripcion: {{ estudianteDocenteFicha.dificultad.descripcion_prenatal }}
                                </p>
                            </label>
                            <br>
                            <label><b>Dificultad Perinatal:</b>
                                <p>
                                    Respuesta: {{ estudianteDocenteFicha.dificultad.respuesta_perinatal }} <br/>
                                    Descripcion: {{ estudianteDocenteFicha.dificultad.descripcion_perinatal }}
                                </p>
                            </label>
                            <br>
                            <label><b>Dificultad Postnatal:</b>
                                <p>
                                    Respuesta: {{ estudianteDocenteFicha.dificultad.respuesta_postnatal }} <br/>
                                    Descripcion: {{ estudianteDocenteFicha.dificultad.descripcion_postnatal }}
                                </p>
                            </label>
                            <br>
                            <label><b>Tipo de Familia:</b>
                                <p>
                                    {{ estudianteDocenteFicha.tipoFamilia }}
                                </p>
                            </label>
                            <br>
                            <label><b>Dinamica Familiar:</b>
                                <p>
                                    {{ estudianteDocenteFicha.dinamicaFamiliar }}
                                </p>
                            </label>
                            <br>
                            <label><b>Antecedentes familiares patológicos significativos:</b>
                                <p>
                                    {{ estudianteDocenteFicha.antecedentesFPatologicos }}
                                </p>
                            </label>
                            <br>
                            <label><b>Diagnóstico médico:</b>
                                <p>
                                    Respuesta: {{ estudianteDocenteFicha.diagnosticoMedico.diagnosticoMedicoRespuesta }}<br/>
                                    Opcion: {{ estudianteDocenteFicha.diagnosticoMedico.diagnosticoMedicoOpcion }}<br/>
                                    Descripcion: {{ estudianteDocenteFicha.diagnosticoMedico.diagnosticoMedicoDescripcion }}

                                </p>
                            </label>
                            <br>

                            <label><b>Diagnóstico sindrómico:</b>
                                <p>
                                    Respuesta: {{ estudianteDocenteFicha.diagnosticoSindromico.diagnosticoSindromicoRespuesta }}<br/>
                                    Opcion: {{ estudianteDocenteFicha.diagnosticoSindromico.diagnosticoSindromicoOpcion }}<br/>
                                    Descripcion: {{ estudianteDocenteFicha.diagnosticoSindromico.diagnosticoSindromicoDescripcion }}

                                </p>
                            </label>
                            <br>

                            <label><b>Detalle de Dificultades:</b>
                                <p>
                                    {{ estudianteDocenteFicha.detalleDificultades }}<br/>


                                </p>
                            </label>
                        {% endif %}
                        <br>

                        <h1 class="h3 mb-2 text-gray-800" align="center">Ficha Informativa realizada por el
                            Representante</h1>
                        <hr class="sidebar-divider my-0">
                        <br>
                        {% if estudianteRepresentanteFicha %}
                            <label><b>Nivel que cursa:</b>
                                <p>
                                    {{ estudianteRepresentanteFicha.nivelCursa }}
                                </p>
                            </label>
                            <br/>
                            <label><b>Dificultad Prenatal:</b>
                                <p>
                                    Respuesta: {{ estudianteRepresentanteFicha.dificultad.respuesta_prenatal }} <br/>
                                    Descripcion: {{ estudianteRepresentanteFicha.dificultad.descripcion_prenatal }}
                                </p>
                            </label>
                            <br>
                            <label><b>Dificultad Perinatal:</b>
                                <p>
                                    Respuesta: {{ estudianteRepresentanteFicha.dificultad.respuesta_perinatal }} <br/>
                                    Descripcion: {{ estudianteRepresentanteFicha.dificultad.descripcion_perinatal }}
                                </p>
                            </label>
                            <br>
                            <label><b>Dificultad Postnatal:</b>
                                <p>
                                    Respuesta: {{ estudianteRepresentanteFicha.dificultad.respuesta_postnatal }} <br/>
                                    Descripcion: {{ estudianteRepresentanteFicha.dificultad.descripcion_postnatal }}
                                </p>
                            </label>
                            <br>
                            <label><b>Tipo de Familia:</b>
                                <p>
                                    {{ estudianteRepresentanteFicha.tipoFamilia }}
                                </p>
                            </label>
                            <br>
                            <label><b>Dinamica Familiar:</b>
                                <p>
                                    {{ estudianteRepresentanteFicha.dinamicaFamiliar }}
                                </p>
                            </label>
                            <br>
                            <label><b>Antecedentes familiares patológicos significativos:</b>
                                <p>
                                    {{ estudianteRepresentanteFicha.antecedentesFPatologicos }}
                                </p>
                            </label>
                            <br>
                            <label><b>Diagnóstico médicos:</b>
                                <p>
                                    Respuesta: {{ estudianteRepresentanteFicha.diagnosticoMedico.diagnosticoMedicoRespuesta }}<br/>
                                    Opcion: {{ estudianteRepresentanteFicha.diagnosticoMedico.diagnosticoMedicoOpcion }}<br/>
                                    Descripcion: {{ estudianteRepresentanteFicha.diagnosticoMedico.diagnosticoMedicoDescripcion }}

                                </p>
                            </label>
                            <br>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>

    {##}
    {#    <div class="container">#}
    {#        <h2 class="text-center">Comentarios</h2>#}
    {#        <div class="card">#}
    {#            <form method="post" class="user" id="formulario">#}
    {#                {% csrf_token %}#}
    {#                <div class="card-body">#}
    {#                    <div class="row">#}
    {#                        <div class="col-md-2">#}
    {#                            <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>#}
    {#                        </div>#}
    {#                        <div class="col-md-10">#}
    {#                            <p>#}
    {#                                <a class="float-left"#}
    {#                                   href="#"><strong>{{ usuarioLogueado.nombres }} {{ usuarioLogueado.apellidos }}</strong></a>#}
    {#                            </p>#}
    {#                            <div class="clearfix"></div>#}
    {#                            <textarea id="contenidoComentario" name="contenidoComentario"></textarea>#}
    {#            </form>#}
    {#            <div class="container-fluid">#}
    {#                <p>#}
    {#                    <button  id="comentar" class="float-right btn btn-outline-primary ml-2">Comentar#}
    {#                    </button>#}
    {#                </p>#}
    {#            </div>#}
    {#            <br>#}
    {#            <br>#}
    {#            <div id="comentariosHechos" name="comentariosHechos">#}
    {#                {% if comentarios %}#}
    {#                    {% for comentario in comentarios %}#}
    {#                        <div class="card card-inner">#}
    {#                            <div class="card-body">#}
    {#                                <div class="row">#}
    {#                                    <div class="col-md-2">#}
    {#                                        <img src="https://image.ibb.co/jw55Ex/def_face.jpg"#}
    {#                                             class="img img-rounded img-fluid"/>#}
    {#                                        <p class="text-secondary text-center">{{ comentario.fechaCreacion }}</p>#}
    {#                                    </div>#}
    {#                                    <div class="col-md-10">#}
    {#                                        <p>#}
    {#                                            <a href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>{{ comentario.emisor.nombres }} {{ comentario.emisor.apellidos }}</strong></a>#}
    {#                                        </p>#}
    {#                                        {{ comentario.contenido }}#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <br>#}
    {#                        <br>#}
    {#                    {% endfor %}#}
    {#                {% endif %}#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#    </div>#}
    {#    </div>#}
    {#    </div>#}
    {##}
    {##}
    {##}




    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="container-fluid">
                <form method="post"
                      id="formulario" class="user">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
                                <p class="text-secondary text-center"></p>
                            </div>
                            <div class="col-md-10">
                                <p>
                                    <a class="float-left"><strong>{{ usuarioLogueado.nombres }} {{ usuarioLogueado.apellidos }}</strong></a>
                                </p>
                                <br>
                                <div class="clearfix">
                                    <textarea id="contenidoComentario" name="contenidoComentario"></textarea>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </form>
                <div>
                    <button id="comentar" class="float-right btn btn-outline-primary ml-2">Comentar
                    </button>
                </div>
                <br>
                <br>
                <div id="comentariosHechos" name="comentariosHechos">
                    {% if comentarios %}
                        {% for comentario in comentarios %}
                            <div class="card card-inner">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="https://image.ibb.co/jw55Ex/def_face.jpg"
                                                 class="img img-rounded img-fluid"/>
                                            <p class="text-secondary text-center">{{ comentario.fechaCreacion }}</p>
                                        </div>
                                        <div class="col-md-10">
                                            <p>
                                                <a href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>{{ comentario.emisor.nombres }} {{ comentario.emisor.apellidos }}</strong></a>
                                            </p>
                                           {{ comentario.contenido | safe}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>




{% endblock %}



