{% extends 'AppExperto/base.html' %}
{% block usuario %}
    <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ usuario_logueado }}</span>
{% endblock %}
{% block contenido %}
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="container-fluid">
                <form method="post" class="user">
                    {% csrf_token %}
                    <div class="container-fluid">
                        <br>
                        <br>
                        <h1 class="h3 mb-2 text-gray-800 text-center">Datos Personales</h1>
                        <br>
                        <br>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label><b>Nombres:</b>
                                    <p>
                                        {{ estudiante.nombres }}
                                    </p>
                                </label>
                            </div>
                            <div class="col-sm-6">
                                <label><b>Apellidos:</b>
                                    <p>
                                        {{ estudiante.apellidos }}
                                    </p>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label><b>Cedula:</b>
                                    <p>
                                        {{ estudiante.cedula }}
                                    </p>
                                </label>
                            </div>
                            <div class="col-sm-6">
                                <label><b>Fecha de Nacimiento:</b>
                                    <p>
                                        {{ estudiante.fechaNacimiento }}
                                    </p>
                                </label>
                            </div>
                        </div>
                        <h1 class="h3 mb-2 text-gray-800" align="center">Ficha Informativa realizada por el Docente</h1>
                        <hr class="sidebar-divider my-0">

                        {% if fichaInformativaDocente %}
                            <label><b>Dificultad Prenatal:</b>
                                <p>
                                    Respuesta: {{ fichaInformativaDocente.dificultad.respuesta_prenatal }} <br/>
                                    Descripcion: {{ fichaInformativaDocente.dificultad.descripcion_prenatal }}
                                </p>
                            </label>
                            <br>
                            <label><b>Dificultad Perinatal:</b>
                                <p>
                                    Respuesta: {{ fichaInformativaDocente.dificultad.respuesta_perinatal }} <br/>
                                    Descripcion: {{ fichaInformativaDocente.dificultad.descripcion_perinatal }}
                                </p>
                            </label>
                            <br>
                            <label><b>Dificultad Postnatal:</b>
                                <p>
                                    Respuesta: {{ fichaInformativaDocente.dificultad.respuesta_postnatal }} <br/>
                                    Descripcion: {{ fichaInformativaDocente.dificultad.descripcion_postnatal }}
                                </p>
                            </label>
                            <br>
                            <label><b>Tipo de Familia:</b>
                                <p>
                                    {{ fichaInformativaDocente.tipoFamilia }}
                                </p>
                            </label>
                            <br>
                            <label><b>Dinamica Familiar:</b>
                                <p>
                                    {{ fichaInformativaDocente.dinamicaFamiliar }}
                                </p>
                            </label>
                            <br>
                            <label><b>Antecedentes familiares patológicos significativos:</b>
                                <p>
                                    {{ estudianteDocenteFicha.antecedentesFPatologicos }}
                                </p>
                            </label>
                            <br>
                            <label><b>Diagnóstico médico:</b>
                                <p>
                                    Respuesta: {{ fichaInformativaDocente.diagnosticoMedico.diagnosticoMedicoRespuesta }}<br/>
                                    Opcion: {{ fichaInformativaDocente.diagnosticoMedico.diagnosticoMedicoOpcion }}<br/>
                                    Descripcion: {{ fichaInformativaDocente.diagnosticoMedico.diagnosticoMedicoDescripcion }}

                                </p>
                            </label>
                            <br>

                            <label><b>Diagnóstico sindrómico:</b>
                                <p>
                                    Respuesta: {{ fichaInformativaDocente.diagnosticoSindromico.diagnosticoSindromicoRespuesta }}<br/>
                                    Opcion: {{ fichaInformativaDocente.diagnosticoSindromico.diagnosticoSindromicoOpcion }}<br/>
                                    Descripcion: {{ fichaInformativaDocente.diagnosticoSindromico.diagnosticoSindromicoDescripcion }}

                                </p>
                            </label>
                            <br>

                            <label><b>Detalle de Dificultades:</b>
                                <p>
                                    {{ fichaInformativaDocente.detalleDificultades }}<br/>


                                </p>
                            </label>
                        {% endif %}
                        <br>

                        <h1 class="h3 mb-2 text-gray-800" align="center">Ficha Informativa realizada por el
                            Representante</h1>
                        <hr class="sidebar-divider my-0">
                        <br>
                        {% if fichaInformativaRepresentante %}
                            <label><b>Dificultad Prenatal:</b>
                                <p>
                                    Respuesta: {{ fichaInformativaRepresentante.dificultad.respuesta_prenatal }} <br/>
                                    Descripcion: {{ fichaInformativaRepresentante.dificultad.descripcion_prenatal }}
                                </p>
                            </label>
                            <br>
                            <label><b>Dificultad Perinatal:</b>
                                <p>
                                    Respuesta: {{ fichaInformativaRepresentante.dificultad.respuesta_perinatal }} <br/>
                                    Descripcion: {{ fichaInformativaRepresentante.dificultad.descripcion_perinatal }}
                                </p>
                            </label>
                            <br>
                            <label><b>Dificultad Postnatal:</b>
                                <p>
                                    Respuesta: {{ fichaInformativaRepresentante.dificultad.respuesta_postnatal }} <br/>
                                    Descripcion: {{ fichaInformativaRepresentante.dificultad.descripcion_postnatal }}
                                </p>
                            </label>
                            <br>
                            <label><b>Tipo de Familia:</b>
                                <p>
                                    {{ fichaInformativaRepresentante.tipoFamilia }}
                                </p>
                            </label>
                            <br>
                            <label><b>Dinamica Familiar:</b>
                                <p>
                                    {{ fichaInformativaRepresentante.dinamicaFamiliar }}
                                </p>
                            </label>
                            <br>
                            <label><b>Antecedentes familiares patológicos significativos:</b>
                                <p>
                                    {{ fichaInformativaRepresentante.antecedentesFPatologicos }}
                                </p>
                            </label>
                            <br>
                            <label><b>Diagnóstico médicos:</b>
                                <p>
                                    Respuesta: {{ fichaInformativaRepresentante.diagnosticoMedico.diagnosticoMedicoRespuesta }}<br/>
                                    Opcion: {{ fichaInformativaRepresentante.diagnosticoMedico.diagnosticoMedicoOpcion }}<br/>
                                    Descripcion: {{ fichaInformativaRepresentante.diagnosticoMedico.diagnosticoMedicoDescripcion }}

                                </p>
                            </label>
                            <br>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="container-fluid">
                <form method="post"
                      id="formulario" class="user">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
                                <p class="text-secondary text-center"></p>
                            </div>
                            <div class="col-md-10">
                                <p>
                                    <a class="float-left"><strong>{{ usuario_logueado.username }}</strong></a>
                                </p>
                                <br>
                                <div class="clearfix">
                                    <textarea id="contenidoComentario" name="contenidoComentario"></textarea>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </form>
                <div>
                    <button id="comentar" class="float-right btn btn-outline-primary ml-2">Comentar
                    </button>
                </div>
                <br>
                <br>
                <div id="comentariosHechos" name="comentariosHechos">
                    {% if comentarios %}
                        {% for comentario in comentarios %}
                            <div class="card card-inner">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="https://image.ibb.co/jw55Ex/def_face.jpg"
                                                 class="img img-rounded img-fluid"/>
                                            <p class="text-secondary text-center">{{ comentario.fechaCreacion }}</p>
                                        </div>
                                        <div class="col-md-10">
                                            <p>
                                                <a href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>{{ comentario.emisor.nombres }} {{ comentario.emisor.apellidos }}</strong></a>
                                            </p>
                                            {{ comentario.contenido | safe }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>




{% endblock %}
{% block js %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            function cargarComentarios() {
                $.ajax({
                    url: "{% url 'appdocente:comentarios' %}",
                    type: "get",
                    data: {
                        'id': {{ estudiante.id }}
                    },
                    success: function (data) {
                        if (data.length > 0) {
                            var html = "";
                            for (var i = 0; i < data.length; i++) {
                                html += '    <div class="card card-inner">\n' +
                                    '\n' +
                                    '                                <div class="card-body">\n' +
                                    '                                    <div class="row">\n' +
                                    '                                        <div class="col-md-2">\n' +
                                    '                                            <img src="https://image.ibb.co/jw55Ex/def_face.jpg"\n' +
                                    '                                                 class="img img-rounded img-fluid"/>\n' +
                                    '                                            <p class="text-secondary text-center">' + data[i].fields.fechaCreacion + '</p>\n' +
                                    '                                        </div>\n' +
                                    '                                        <div class="col-md-10">\n' +
                                    '                                            <p>\n' +
                                    '                                                <a href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>' + data[i].fields.usernameEmisor + '</strong></a>\n' +
                                    '                                            </p>\n' +
                                    '                                            <p>' + data[i].fields.contenido + '</p>\n' +
                                    '                                        </div>\n' +
                                    '                                    </div>\n' +
                                    '                                </div>\n' +
                                    '                            </div>\n  <br>\n' +
                                    '                            <br>';
                            }
                            $('#comentariosHechos').html(html);
                        } else {
                            $('#comentariosHechos').html('<h4 class="text-center p-5">No existen comentarios.</h4>');
                        }
                    },
                    error: function () {
                    }
                });
            }

            setInterval(cargarComentarios, 500);
        });
    </script>
    <script>
        $('#comentar').on('click', inicio);

        function inicio() {
            var contenidoComentario = $('#contenidoComentario').val();
            $.ajax({
                url: "{% url 'appexperto:crearComentario' %}",
                type: "post", // or "get"
                data: {
                    'contenidoComentario': contenidoComentario,
                    'id': {{ estudiante.id }}
                },
                success: function () {

                },
                error: function () {
                    $('#contenidoComentario').summernote('reset');
                }
            });
        }
    </script>
{% endblock %}



