{% extends 'AppExperto/base.html' %}
{% block contenido %}
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-5">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="py-2">
                    <h3>Docente</h3>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="actividadesDocente"
                                   name="actividadesDocente" accept="application/pdf">
                            {% if estudiante.actividadesDocente %}
                                <label class="custom-file-label" id="filenameDocente"
                                       for="actividadesDocente">{{ estudiante.filenameDocente }}</label>
                            {% else %}
                                <label class="custom-file-label" id="filenameDocente" for="upload">Actividades
                                    Docentes</label>
                            {% endif %}
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="submit">Subir</button>
                        </div>
                        {% if estudiante.actividadesDocente %}
                            <div class="input-group-append">
                                <a href="{{ estudiante.actividadesDocente.url }}"
                                   download="plainced_actividades.pdf" class="btn btn-outline-success">Descargar</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="py-2">
                    <h3>Representante</h3>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="actividadesRepresentante"
                                   name="actividadesRepresentante" accept="application/pdf">
                            {% if estudiante.actividadesRepresentante %}
                                <label class="custom-file-label" id="filenameRepresentante"
                                       for="actividadesRepresentante">{{ estudiante.filenameRepresentante }}</label>
                            {% else %}
                                <label class="custom-file-label" id="filenameRepresentante"
                                       for="actividadesRepresentante">Actividades
                                    Representante</label>
                            {% endif %}
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="submit">Subir</button>
                        </div>
                        {% if estudiante.actividadesRepresentante %}
                            <div class="input-group-append">
                                <a href="{{ estudiante.actividadesRepresentante.url }}"
                                   download="plainced_actividades.pdf" class="btn btn-outline-success">Descargar</a>
                            </div>
                        {% endif %}
                    </div>
                </div>

                {#                <div class="col-lg-6">#}
                {#                    <div class="input-group mb-3">#}
                {#                        <div class="input-group-prepend">#}
                {#                            <span class="input-group-text">Subir</span>#}
                {#                        </div>#}
                {#                        <div class="custom-file">#}
                {#                            <input type="file" class="custom-file-input" id="inputGroupFile01">#}
                {#                            <label class="custom-file-label" for="inputGroupFile01">Actividades para#}
                {#                                representante</label>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}

            </form>
            <form method="post" class="user">
                {% csrf_token %}
                <h1 class="h3 mb-2 text-gray-800 text-center">Datos Personales del niño(a)</h1>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label><b>Nombres:</b>
                            <p>
                                {{ estudiante.nombres }}
                            </p>
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <label><b>Apellidos:</b>
                            <p>
                                {{ estudiante.apellidos }}
                            </p>
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label><b>Cédula:</b>
                            <p>
                                {{ estudiante.cedula }}
                            </p>
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <label><b>Fecha de Nacimiento:</b>
                            <p>
                                {{ estudiante.fechaNacimiento }}
                            </p>
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label><b>Institucion:</b>
                            <p>
                                {{ estudiante.institucion.nombre }}
                            </p>
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <label><b>Nivel:</b>
                            <p>
                                {{ estudiante.nivel }}
                            </p>
                        </label>
                    </div>
                </div>
                {% if fichaInformativaDocente %}
                    <hr>
                    <h1 class="h3 mb-2 text-gray-800" align="center">Ficha informativa realizada por el Docente</h1>
                    <label><b>Dificultad Prenatal:</b>
                        <p>
                            Respuesta: {{ fichaInformativaDocente.dificultad.respuesta_prenatal }} <br/>
                            Descripcion: {{ fichaInformativaDocente.dificultad.descripcion_prenatal }}
                        </p>
                    </label>
                    <br>
                    <label><b>Dificultad Perinatal:</b>
                        <p>
                            Respuesta: {{ fichaInformativaDocente.dificultad.respuesta_perinatal }} <br/>
                            Descripcion: {{ fichaInformativaDocente.dificultad.descripcion_perinatal }}
                        </p>
                    </label>
                    <br>
                    <label><b>Dificultad Postnatal:</b>
                        <p>
                            Respuesta: {{ fichaInformativaDocente.dificultad.respuesta_postnatal }} <br/>
                            Descripcion: {{ fichaInformativaDocente.dificultad.descripcion_postnatal }}
                        </p>
                    </label>
                    <br>
                    <label><b>Tipo de Familia:</b>
                        <p>
                            {{ fichaInformativaDocente.tipoFamilia }}
                        </p>
                    </label>
                    <br>
                    <label><b>Dinamica Familiar:</b>
                        <p>
                            {{ fichaInformativaDocente.dinamicaFamiliar }}
                        </p>
                    </label>
                    <br>
                    <label><b>Antecedentes familiares patológicos significativos:</b>
                        <p>
                            {{ estudianteDocenteFicha.antecedentesFPatologicos }}
                        </p>
                    </label>
                    <br>
                    <label><b>Diagnóstico médico:</b>
                        <p>
                            Respuesta: {{ fichaInformativaDocente.diagnosticoMedico.diagnosticoMedicoRespuesta }}<br/>
                            Opcion: {{ fichaInformativaDocente.diagnosticoMedico.diagnosticoMedicoOpcion }}<br/>
                            Descripcion: {{ fichaInformativaDocente.diagnosticoMedico.diagnosticoMedicoDescripcion }}

                        </p>
                    </label>
                    <br>

                    <label><b>Diagnóstico sindrómico:</b>
                        <p>
                            Respuesta: {{ fichaInformativaDocente.diagnosticoSindromico.diagnosticoSindromicoRespuesta }}<br/>
                            Opcion: {{ fichaInformativaDocente.diagnosticoSindromico.diagnosticoSindromicoOpcion }}<br/>
                            Descripcion: {{ fichaInformativaDocente.diagnosticoSindromico.diagnosticoSindromicoDescripcion }}

                        </p>
                    </label>
                    <br>

                    <label><b>Detalle de Dificultades:</b>
                        <p>
                            {{ fichaInformativaDocente.detalleDificultades }}<br/>


                        </p>
                    </label>
                {% endif %}
                {% if fichaInformativaRepresentante %}
                    <hr>
                    <h1 class="h3 mb-2 text-gray-800" align="center">Ficha informativa realizada por el
                        Representante</h1>
                    <label><b>Dificultad Prenatal:</b>
                        <p>
                            Respuesta: {{ fichaInformativaRepresentante.dificultad.respuesta_prenatal }} <br/>
                            Descripcion: {{ fichaInformativaRepresentante.dificultad.descripcion_prenatal }}
                        </p>
                    </label>
                    <br>
                    <label><b>Dificultad Perinatal:</b>
                        <p>
                            Respuesta: {{ fichaInformativaRepresentante.dificultad.respuesta_perinatal }} <br/>
                            Descripcion: {{ fichaInformativaRepresentante.dificultad.descripcion_perinatal }}
                        </p>
                    </label>
                    <br>
                    <label><b>Dificultad Postnatal:</b>
                        <p>
                            Respuesta: {{ fichaInformativaRepresentante.dificultad.respuesta_postnatal }} <br/>
                            Descripcion: {{ fichaInformativaRepresentante.dificultad.descripcion_postnatal }}
                        </p>
                    </label>
                    <br>
                    <label><b>Tipo de Familia:</b>
                        <p>
                            {{ fichaInformativaRepresentante.tipoFamilia }}
                        </p>
                    </label>
                    <br>
                    <label><b>Dinamica Familiar:</b>
                        <p>
                            {{ fichaInformativaRepresentante.dinamicaFamiliar }}
                        </p>
                    </label>
                    <br>
                    <label><b>Antecedentes familiares patológicos significativos:</b>
                        <p>
                            {{ fichaInformativaRepresentante.antecedentesFPatologicos }}
                        </p>
                    </label>
                    <br>
                    <label><b>Diagnóstico médicos:</b>
                        <p>
                            Respuesta: {{ fichaInformativaRepresentante.diagnosticoMedico.diagnosticoMedicoRespuesta }}<br/>
                            Opcion: {{ fichaInformativaRepresentante.diagnosticoMedico.diagnosticoMedicoOpcion }}<br/>
                            Descripcion: {{ fichaInformativaRepresentante.diagnosticoMedico.diagnosticoMedicoDescripcion }}

                        </p>
                    </label>
                    <br>

                    <label><b>Detalle de Dificultades:</b>
                        <p>
                            {{ fichaInformativaRepresentante.detalleDificultades }}<br/>


                        </p>
                    </label>
                {% endif %}
            </form>
        </div>
    </div>
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-3">
            <form method="post" id="formulario" class="user">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-2">
                        {% if request.user.foto %}
                            <img src="{{ request.user.foto.url }}" class="img-fluid rounded-circle"/>
                        {% else %}
                            <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img-fluid rounded-circle"/>
                        {% endif %}
                        <p class="text-center">{{ request.user.nombres }}</p>
                    </div>
                    <div class="col-lg-10">
                        <div id="summernote"></div>
                    </div>
                </div>
            </form>
            <div>
                <button id="comentar" class="float-right btn btn-outline-primary ml-2">Comentar</button>
            </div>
            <div id="comentarios" class="py-5"></div>
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script>
        document.getElementById('actividadesDocente').onchange = uploadOnChange;

        function uploadOnChange() {
            var filename = this.value;
            console.log(filename);
            var lastIndex = filename.lastIndexOf("\\");
            if (lastIndex >= 0) {
                filename = filename.substring(lastIndex + 1);
            }
            document.getElementById('filenameDocente').textContent = filename;
        }
    </script>
    <script>
        document.getElementById('actividadesRepresentante').onchange = uploadOnChange;

        function uploadOnChange() {
            var filename = this.value;
            console.log(filename);
            var lastIndex = filename.lastIndexOf("\\");
            if (lastIndex >= 0) {
                filename = filename.substring(lastIndex + 1);
            }
            document.getElementById('filenameRepresentante').textContent = filename;
        }
    </script>

    <script>
        $('#comentar').on('click', crearComentario);

        function crearComentario() {
            var contenidoComentario = $('#summernote').summernote('code');
            $.ajax({
                url: "{% url 'gestionsistema:crearComentario' %}",
                type: "post",
                data: {
                    'contenidoComentario': contenidoComentario,
                    'id': {{ estudiante.id }}
                },
                success: function () {
                },
                error: function () {
                    {#$('#summernote').summernote('reset');#}
                }
            });
        }
    </script>
    <script>
        $('#summernote').summernote({
            placeholder: 'Escribe un comentario aqui ...',
            tabsize: 2,
            height: 120,
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'underline', 'clear']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video']],
                ['view', ['fullscreen', 'codeview', 'help']]
            ]
        });
    </script>
    <script>
        $(document).ready(function () {
            function cargarComentarios() {
                $.ajax({
                    url: "{% url 'gestionsistema:cargarComentarios' %}",
                    type: "get",
                    data: {
                        'id': {{ estudiante.id }}
                    },
                    success: function (data) {
                        var html = "";
                        for (var i = 0; i < data['comentarios'].length; i++) {
                            html += '<div class="card card-inner my-3">\n' +
                                '            <div class="card-body">\n' +
                                '        <div class="row">\n' +
                                '                <div class="col-lg-2">\n' +
                                '                        <img src="' + data['comentarios'][i].foto + '" class="img-fluid rounded-circle"/>\n' +
                                '                    <p class="text-center">' + data['comentarios'][i].nombre + '</p>\n' +
                                '                </div>\n' +
                                '                <div class="col-lg-10">\n' +
                                '                    <p>' + data['comentarios'][i].contenido + '</p>\n' +
                                '                </div>\n' +
                                '            </div>\n' +
                                '        </div>\n' +
                                '    </div>';
                        }
                        $('#comentarios').html(html);

                    },
                    error: function () {
                    }
                });
            }

            setInterval(cargarComentarios, 1000);
        });
    </script>
{% endblock %}



