{% extends 'core/base.html' %}
{% block usuario %}
    <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ usuario_logueado }}</span>
{% endblock %}
{% block contenido %}
    <form method="post" class="py-4">
        {% csrf_token %}
        <a class="btn btn-success" href="{% url 'gestionsistema:institucion_crear' %}">Crear Institución <i
                class="far fa-file"></i></a>
    </form>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Lista de Instituciones</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <td><b>ID</b></td>
                        <td><b>Nombre</b></td>
                        <td><b>Tipo de Establecimiento</b></td>
                        <td><b>Dirección</b></td>
                        <td><b>Teléfono</b></td>
                        <td><b>Acciones</b></td>
                    </tr>
                    </thead>
                    <tbody>
                    {% if instituciones %}
                        {% for institucion in instituciones %}
                            <tr>
                                <td>{{ institucion.id }}</td>
                                <td>{{ institucion.nombre }}</td>
                                <td>{{ institucion.tipoEstablecimiento }}</td>
                                <td>{{ institucion.direccion }}</td>
                                <td>{{ institucion.telefono }}</td>
                                <td>
                                    <div align="center">
                                        <a class="btn btn-primary"
                                           href="{% url 'gestionsistema:institucion_editar' institucion.id %}">Editar </a>
                                        <a class="btn btn-danger"
                                           href="{% url 'gestionsistema:institucion_eliminar' institucion.id %}">Eliminar
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}