{% extends 'GestionSistema/base.html' %}
{% block usuario %}
    <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ usuario_logueado }}</span>
{% endblock %}
{% block contenido %}
    <h1 class="h3 mb-2 text-gray-800" align="center">EXPERTO</h1>
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="container-fluid">
                    <br>
                    <br>
                    <form method="post" class="user" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group row">
                            <div class="container">
                                <br>
                                <br>
                                <div class="form-group">
                                    <div class="form-group row">

                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <label for="foto">Foto: <input type="file" id="foto"
                                                                                 name="foto" accept="image/*"></label>
                                        </div>
                                        <br>
                                        <br>
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <label for="nombres">Nombres: <input type="text"
                                                                                 class="form-control form-control-user"
                                                                                 value='{{ form_experto.usuario.nombres }}'
                                                                                 id="nombres" name="nombres" size="1000"
                                                                                 onkeyup="javascript:this.value=this.value.toUpperCase();"
                                                                                 required></label>
                                        </div>
                                        <br>
                                        <br>
                                        <div class="col-sm-6">
                                            <label for="apellidos">Apellidos: <input type="text"
                                                                                     class="form-control form-control-user"
                                                                                     value="{{ form_experto.usuario.apellidos }}"
                                                                                     id="apellidos" name="apellidos"
                                                                                     size="1000"
                                                                                     onkeyup="javascript:this.value=this.value.toUpperCase();"
                                                                                     required></label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label for="cedula">Cédula:<input type="text"
                                                                              class="form-control form-control-user"
                                                                              value="{{ form_experto.usuario.cedula }}"
                                                                              id="cedula" name="cedula" size="1000"
                                                                              onkeypress="return soloNumeros(event)"
                                                                              maxlength="10"
                                                                              required></label>
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="correo">Correo: <input type="email"
                                                                               class="form-control form-control-user"
                                                                               value="{{ form_experto.usuario.correo }}"
                                                                               id="correo" name="correo" size="1000"
                                                                               required></label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label for="tituloUniversitario">Título Universitario:<input type="text"
                                                                                                         class="form-control form-control-user"
                                                                                                         value="{{ form_experto.tituloUniversitario }}"
                                                                                                         id="tituloUniversitario"
                                                                                                         name="tituloUniversitario"
                                                                                                         size="1000"
                                                                                                         onkeyup="javascript:this.value=this.value.toUpperCase();"
                                                                                                         required></label>
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="experienciaProfesional">Experiencia Profesional:<input
                                                    type="text" class="form-control form-control-user"
                                                    value="{{ form_experto.experienciaProfesional }}"
                                                    id="experienciaProfesional" name="experienciaProfesional"
                                                    size="1000"
                                                    onkeyup="javascript:this.value=this.value.toUpperCase();" required></label>
                                        </div>

                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label for="experienciaAcademica">Experiencia Académica:<input type="text"
                                                                                                           class="form-control form-control-user"
                                                                                                           value="{{ form_experto.experienciaAcademica }}"
                                                                                                           id="experienciaAcademica"
                                                                                                           name="experienciaAcademica"
                                                                                                           size="1000"
                                                                                                           onkeyup="javascript:this.value=this.value.toUpperCase();"
                                                                                                           required></label>
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="experienciaInvestigativa">Experiencia Investigativa:<input
                                                    type="text" class="form-control form-control-user"
                                                    value="{{ form_experto.experienciaInvestigativa }}"
                                                    id="experienciaInvestigativa" name="experienciaInvestigativa"
                                                    size="1000"
                                                    onkeyup="javascript:this.value=this.value.toUpperCase();" required></label>
                                        </div>

                                    </div>
                                    <div class="col-sm-6">
                                        <label for="fechaNacimiento">Fecha de Nacimiento:<input type="date"
                                                                                                class="form-control form-control-user datepicker"
                                                                                                value="{{ form_experto.usuario.fechaNacimiento }}"
                                                                                                data-date-format="yyyy/mm/dd"
                                                                                                id="fechaNacimiento"
                                                                                                name="fechaNacimiento"
                                                                                                required></label>
                                    </div>

                                </div>
                                <div align="center">
                                    <button type="submit" class="btn btn btn-primary btn-user">Guardar</button>
                                    <a class="btn btn btn-danger btn-user"
                                       href="{% url 'gestionsistema:experto_listar' %}">Cancelar</a>
                                </div>
                                <br>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}